<div class="terms">
  <h4>TERMO DE REQUERIMENTO DE INCLUSÃO DE VEÍCULO E DE RESPONSABILIDADE</h4>

  <p>
  Eu, <%= current_user.name %>, já devidamente qualificado no Contrato de Adesão do
  Club de Benefícios Future Motors, único e exclusivo detentor de meu “login” e “senha” de acesso ao escritório
  virtual/site, venho por intermédio deste, de livre e espontânea vontade, requerer a inclusão do veículo
  de Placa: <span class="plate-field"></span>, ano de fabricação <span class="manufacture-year-field"></span>,
  ano do modelo <span class="model-year-field"></span> Cor: <span class="color-field"></span> Marca: <span class="brand-field"></span>
  Renavam: <span class="renavam-field"></span>,
  de Propriedade do senhor(a) <span class="owner-name-field"></span> do CPF/CNPJ sob nº <span class="cnpj-cpf-field"></span>.
  </p>

  <p>Declaro ter procedido com o devido cadastro do veículo na página de Adicionar Veículos no escritório virtual da Administradora, estando ciente que serei o responsável pelo pagamento da taxa de manutenção do Club de Benefícios Future Motors e dos serviços que forem realizados no referido veículo.</p>

  <p>Declaro neste ato, assumir todas as responsabilidades sobre o veículo, inclusive, de ser o responsável por todas as informações contidas no cadastro de veículos, sendo o único e exclusivo responsável pelos procedimentos realizados, responsabilizando-me por qualquer dano causado à Administradora ou a terceiros, desde que, decorrentes do referido veículo.</p>

  <p>Por ser verdade, dato e assino digitalmente.</p>

  <p>Goiânia, GO, <%= l Time.zone.now.to_date %>.</p>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var updateText = function (selector, $el) {
      var val = $el.val().toUpperCase()
      val && $(selector).text(val)
    }

    var updateSelectText = function (selector, $el) {
      var val = $el.children('option:selected').text()
      val && $(selector).text(val)
    }

    $('.input-plate').change(function() { updateText('.plate-field', $(this)) })
    $('.input-manufacture-year').change(function() { updateText('.manufacture-year-field', $(this)) })
    $('.input-model-year').change(function() { updateText('.model-year-field', $(this)) })
    $('.input-color').change(function() { updateText('.color-field', $(this)) })
    $('.input-renavam').change(function() { updateText('.renavam-field', $(this)) })
    $('.input-owner-name').change(function() { updateText('.owner-name-field', $(this)) })
    $('.input-cnpj-cpf').change(function() { updateText('.cnpj-cpf-field', $(this)) })

    $('.input-brand').change(function() { updateText('.brand-field', $(this)) })
    $('.input-brand').change(function() { updateSelectText('.brand-field', $(this)) })

    $('.input-plate').trigger('change')
    $('.input-manufacture-year').trigger('change')
    $('.input-model-year').trigger('change')
    $('.input-color').trigger('change')
    $('.input-renavam').trigger('change')
    $('.input-owner-name').trigger('change')
    $('.input-cnpj-cpf').trigger('change')
    $('.input-brand').trigger('change')
  })
</script>

<style>
  .terms span {
    text-decoration: underline dotted;
  }
</style>
