.main-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-img-courses {
  display: flex;
  width: 90%;
  height: 150px;
  background: linear-gradient(to bottom, #0facf1, #8cdafc);
  border-radius: 12px;
  margin-top: 40px;
}

.banner-img-courses__content-right {
  width: 40%;
}

.banner-img-courses__content-left {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-img-courses__content-left p {
  font-size: 10px;
  text-align: left;
}

.banner-img-courses__content-left h1 {
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  margin: 0;
}

.banner-img-courses__content-right {
  display: flex;
  justify-content: flex-end;
}

.banner-img-courses__content-right img {
  height: 150px;
  width: auto;
  margin-right: 5px;
}

.cards-ads {
  margin-top: 40px;
  width: 90%;
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
}

.card-ads {
  min-width: 32%;
  height: 120px;
  margin-top: 10px;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
}

.button-ads-packages {
  background: linear-gradient(to bottom, #58f701, #26ac00);
  color: white;
  border: none;
  width: 60px;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.ad-package-title {
  font-weight: bold;
  font-size: 16px;
}

.ad-package-clicks {
  font-weight: bold;
  font-size: 24px;
}

.bottom-ad-package {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ad-package-value {
  font-weight: bold;
  font-size: 19px;
}

.header-ad {
  background: #3f3f3f;
  color: white;
  padding: 5px 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.body-ad {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.texts-ad {
  display: flex;
  flex-direction: column;
}

.bottom-ad-package a {
  width: 150px;
}

@media (min-width: 300px) and (max-width: 880px){
  .card-ads {
    height: 250px;
    min-width: 56%;
    margin-right: 10px;
  }

  .ad-package-clicks {
    text-align: center;
  }

  .bottom-ad-package {
    flex-direction: column;
    padding-top: 10px;
  }

  .bottom-ad-package::before {
    border: 1px solid grey;
    width: 70%;
    margin-bottom: 15px;
    content: '';
  }

  .button-ads-packages {
    width: 100%;
    margin-top: 10px;
  }

  .ad-package-value {
    font-size: 22px;
  }
}

@media (min-width: 880px) {
  .banner-img-courses {
    height: 300px;
  }

  .banner-img-courses__content-right img {
    height: 300px;
    margin-right: 50px;
  }

  .banner-img-courses__content-left p {
    font-size: 20px;
    text-align: left;
  }

  .banner-img-courses__content-left h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .store-banner {
    width: 200px;
  }

  .store-banner p {
    font-size: 15px;
  }

  .cards-ads {
    overflow-x: inherit;
    flex-wrap: wrap;
  }

  .card-ads {
    min-width: 49%;
    height: 200px;
    margin-top: 20px;
  }

  .ad-package-value {
    font-size: 24px;
  }

  .button-ads-packages {
    width: 130px;
  }

  .ad-package-clicks {
    text-align: center;
    font-size: 30px;
  }
}
