*,
*::before,
*::after {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

html body {
  -webkit-appearance: none;
  background-color: #e9e9e9 !important;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  min-width: 340px;
  touch-action: manipulation;
}

.main-app-content {
  margin: 0 auto;
  max-width: 1360px;
  padding-bottom: 100px;
  width: 90%;
}

.invisible-box {
  display: block;
  margin-bottom: 150px;
}

.container {
  height: auto;
  min-width: 100%;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.app {
  background-color: #e9e9e9;
  width: 100%;
}

.main-box {
  margin-top: 10px;
  width: 100%;
}

.main-box .box-payment {
  margin-bottom: 30px;
}

.card-box {
  width: 100%;
}

.box-top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
  width: 100%;
}

.request-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  flex-direction: column;
  width: 48%;
}

.request-box-btc-pix {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.request-box h1,
h4 {
  font-size: 15px;
}

.box-bottom {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding: 10px;
  width: 100%;
}

.img-circle {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

#wallet-address {
  font-size: 12px;
}

.credentials-box {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.login-fields {
  -moz-box-shadow: 1px 4px 10px 1px rgba(207, 207, 207, 1);
  -webkit-box-shadow: 1px 4px 10px 1px rgba(207, 207, 207, 1);
  align-items: center;
  background-color: #ffffff;
  border-radius: 70px;
  border: none;
  box-shadow: 1px 4px 10px 1px rgba(207, 207, 207, 1);
  display: flex;
  height: 60px;
  margin-top: 15px;
  padding: 15px 15px 15px 23px;
  width: 85%;
}

.user-field {
  width: 100%;
}

.box-user-top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 720px;
  position: absolute;
  width: 100%;
}

.box-user-top-display {
  display: flex;
  justify-content: space-around;
  margin-bottom: 510px;
  position: absolute;
  width: 100%;
}

.box-admin-top {
  display: flex;
  height: auto;
  justify-content: space-around;
  margin-bottom: -30px;
  margin-top: 20px;
  width: 100%;
}

.change-password-top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 490px;
  position: absolute;
  width: 100%;
}

.change-password-admin {
  margin-bottom: 350px;
}

.avatar-user {
  border-radius: 80px;
  border: 3px solid #00de28;
  height: 100px;
  width: 100px;
}

.input-avatar-user {
  display: none;
}

.btns-box-top {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.btn-green {
  background: #00de28;
  border-radius: 20px;
  color: white;
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  width: 45%;
}

.btn-disable {
  background: black;
  border-radius: 20px;
  color: white;
  cursor: default;
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  opacity: 0.3;
  padding: 10px;
  text-align: center;
  user-select: none;
  width: 45%;
}

.box-user-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 60px;
  width: 100%;
}

.box-admin-form {
  margin-bottom: 0;
  margin-top: 150px;
}

.box-user-form form {
  width: 100%;
}

.save-input {
  margin-top: 70px;
}

form {
  width: 100%;
}

.checkbox {
  align-items: center;
  display: flex;
  margin-top: 15px;
  width: 85%;
}

.checkbox input {
  height: 20px;
  width: 20px;
}

select {
  -webkit-appearance: none;
  border: none;
  outline: none;
}

select:focus {
  background: transparent;
  border: none;
}

.checkbox span {
  color: #373737;
  font-size: 12.8pt;
  margin-left: 5px;
}

.field-icon {
  display: flex;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
}

.back-button {
  background: #30da03;
  border-radius: 60px;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

a {
  text-decoration: none !important;
}

.field-icon img {
  width: 100%;
}

::placeholder {
  color: #c3c3c3;
  opacity: 1;
}

.input-description {
  border: none;
  color: #c3c3c3;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  height: 100% !important;
  margin-left: 15px;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

.login {
  background-color: #3f3f3f;
  border-radius: 70px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14pt;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.remove-padding {
  padding: 0;
}

.helper-text {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.helper-text a {
  color: #373737;
  display: block;
  font-size: 13px;
}

.loading {
  align-items: center;
  border: solid;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.loader {
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border-top: 5px solid #3f3f3f;
  border: 5px solid #f3f3f3;
  height: 30px;
  width: 30px;
}
.input-disable {
  background: #3f3f3f;
  color: white;
}

.input-disable input {
  background: #3f3f3f;
  color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
}
@media (min-width: 200px) {
  .main-app-content {
    min-height: 600px;
  }
  .btns-box-top a {
    font-size: 10px;
  }
  .photo-box {
    align-items: center;
    background: #00de28;
    border-radius: 20px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 20px;
    margin-left: 70px;
    margin-top: -35px;
    padding: 5px;
    position: absolute;
    width: 20px;
  }

  .photo-box svg {
    margin: 3px;
  }
}
@media (min-width: 1024px) and (max-width: 2560px) {
  .input-description {
    display: flex;
    width: 100%;
  }

  .selected-language img {
    margin-left: 4px !important;
  }
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: none;
  width: 80%;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  left: auto;
  min-width: 60px;
  position: absolute;
  right: -10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.page-title {
  color: #373737;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 5vh;
}

.text-center {
  text-align: center;
}

.text-click {
  color: #34ef00;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.purple {
  color: #3f3f3f;
}

.pink {
  color: #34ef00;
}

.btn-purple {
  background-color: #3f3f3f;
  border-radius: 20px;
  margin-top: 10px;
  margin-top: 5px;
}

.text-white {
  color: #fff;
}

.btn-tab {
  opacity: 0.5;
}

.btn-tab2 {
  opacity: 0.5;
}

.btn-tab.active {
  opacity: 1;
}

.font-11 {
  font-size: 11px;
}

.alert-wrap {
  padding: 5px;
}

.alert {
  border-radius: 0.25rem;
  border-radius: 10px;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  position: fixed;
  z-index: 1040;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  margin-left: 30px;
  margin-top: 45px;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  margin-left: 30px;
  margin-top: 45px;
}

.alert-info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
  margin-left: 30px;
  margin-top: 45px;
}

.alert-dismissible {
  margin-left: 30px;
  margin-top: 45px;
  padding-right: 3rem;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.alert-dismissible .close {
  color: inherit;
  padding: 0.75rem 1.25rem;
  position: absolute;
  right: 0;
  top: 0;
}

button.close {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.close {
  color: #000;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  opacity: 0.5;
  text-shadow: 0 1px 0 #fff;
}

.t {
  display: none;
}

.page {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  width: 100%;
}

#root {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.back-button {
  align-items: center;
  color: #373737;
  display: flex;
  font-size: 12.8pt;
  padding: 10px 10px 10px 15px;
}

.dropdown-menu {
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgba(0,0,0,.15);
  color: #212529;
  display: none;
  float: left;
  font-size: 1rem;
  left: 0;
  list-style: none;
  margin-right: 2%;
  min-width: 10rem;
  padding: 0.5rem 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}

.dropdown-item {
  background-color: transparent;
  border: 0;
  clear: both;
  color: #212529;
  display: block;
  font-weight: 400;
  padding: 0.25rem 1.5rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}

.back-button img {
  height: 1rem;
  width: 1rem;
}

.back-button a {
  margin-left: 10px;
}

.pagination {
  border-radius: 4px;
  display: inline-block;
  margin: 20px 0;
  padding-left: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #337ab7;
  float: left;
  line-height: 1.42857143;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background-color: #eee;
  border-color: #ddd;
  color: #23527c;
  z-index: 2;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff;
  cursor: default;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  background-color: #fff;
  border-color: #ddd;
  color: #777;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  font-size: 18px;
  line-height: 1.3333333;
  padding: 10px 16px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.remember-user {
  width: 50%;
}

.w-100 {
  width: 100% !important;
}

.back-button-container {
  margin-bottom: 20px;
}

.request-strip,
.package-strip {
  align-items: center;
  background: linear-gradient(to bottom, #59fa00, #27af00);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  max-height: 35px;
  min-height: 35px;
  padding: 10px;
  width: 100%;
}

.request-strip p {
  margin: 0;
}

.main-box strong {
  width: 100%;
}

.request-strip h1,
.package-strip p,
.request-strip p {
  font-size: 15px;
  margin: 0;
}

.request-number {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.box-top-btc-pix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

@media (min-width: 680px) {
  .card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btns-box-top a {
    font-size: 16px;
  }
  .box-top {
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 20%;
  }
  .request-box {
    text-align: center;
    width: 100%;
  }
  .box-bottom {
    margin-bottom: 0;
    width: 65%;
  }
  .alert-success {
    margin-left: 30px;
    margin-top: 52px;
  }

  .alert-danger {
    margin-left: 30px;
    margin-top: 52px;
  }

  .alert-info {
    margin-left: 30px;
    margin-top: 52px;
  }

  .alert-warning {
    margin-left: 30px;
    margin-top: 52px;
  }

  .alert-dismissible {
    margin-left: 30px;
    margin-top: 52px;
    padding-right: 3rem;
  }

  .img-circle {
    height: 150px;
    width: 150px;
  }

  .credentials-box {
    margin: auto;
    width: 70%;
  }
}

@media (min-width: 600px) {
  .box-user-top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 720px;
    position: absolute;
  }

  .box-user-top-display {
    display: flex;
    justify-content: space-around;
    margin-bottom: 510px;
    position: absolute;
  }

  .change-password-top {
    display: flex;
    justify-content: space-around;
    margin-bottom: 490px;
    position: absolute;
    width: 100%;
  }

  .change-password-admin {
    margin-bottom: 370px;
  }

  .avatar-user {
    border-radius: 80px;
    border: 3px solid #00de28;
    height: 100px;
    width: 100px;
  }

  .input-avatar-user {
    display: none;
  }
  .btns-box-top a {
    font-size: 16px;
  }

  .photo-box {
    align-items: center;
    background: #00de28;
    border-radius: 20px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 20px;
    margin-left: 75px;
    margin-top: -35px;
    padding: 5px;
    position: absolute;
    width: 20px;
  }

  .photo-box svg {
    margin: 3px;
  }

  .btns-box-top {
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  .btn-green {
    background: #00de28;
    border-radius: 20px;
    color: white;
    font-family: "Lato", sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 45%;
  }

  .btn-disable {
    width: 45%;
  }

  .box-user-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
  }

  .box-admin-form {
    margin-bottom: 0;
    margin-top: 150px;
  }
  .user-field {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .box-user-top {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 50px;
    position: relative;
  }

  .box-user-top-display {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 50px;
    position: relative;
  }

  .box-admin-top {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 50px;
    position: relative;
  }

  .change-password-top {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 50px;
    position: relative;
  }

  .avatar-user {
    border-radius: 80px;
    border: 3px solid #00de28;
    height: 150px;
    width: 150px;
  }

  .input-avatar-user {
    display: none;
  }

  .photo-box {
    align-items: center;
    background: #00de28;
    border-radius: 20px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    height: 20px;
    margin-left: 115px;
    margin-top: -40px;
    padding: 5px;
    position: absolute;
    width: 20px;
  }

  .photo-box svg {
    margin: 3px;
  }

  .btns-box-top {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 60%;
  }

  .btn-green {
    background: #00de28;
    border-radius: 20px;
    color: white;
    font-family: "Lato", sans-serif;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    width: 30%;
  }

  .btn-disable {
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    width: 30%;
  }

  .box-user-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }

  .user-field {
    width: 100%;
  }

  .box-user-form {
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) { 
  .btn-green {
    width: 20%;
  }

  .btn-disable {
    width: 15%;
  }

  .alert-success {
    margin-left: 80px;
    margin-top: 52px;
  }

  .alert-danger {
    margin-left: 80px;
    margin-top: 52px;
  }

  .alert-info {
    margin-left: 80px;
    margin-top: 52px;
  }

  .alert-warning {
    margin-left: 80px;
    margin-top: 52px;
  }

  .alert-dismissible {
    margin-left: 80px;
    margin-top: 52px;
    padding-right: 3rem;
  }
  .credentials-box {
    margin: auto;
    width: 40%;
  }
}
.hidden {
  display: none !important;
}
