*,
*::before,
*::after {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

textarea {
    white-space: revert;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    background-color: #e9e9e9;
    -webkit-appearance: none;
    touch-action: manipulation;
}

.main-app-content {
  padding-bottom: 100px;
}

.invisible-box {
  display: block;
  margin-bottom: 150px;
}

.container {
    min-width: 100%;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
}

.app {
    width: 100%;
    background-color: #e9e9e9;
}

.main-box {
  width: 100%;
}

.card-box {
  width: 90%;
}

.box-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.request-box {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  width: 48%;
}

.request-box h1, h4 {
  font-size: 15px;
}

.box-bottom {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  background-color:white;
  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.img-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#wallet-address {
  font-size: 12px;
}

.credentials-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: transparent;
}

.login-fields {
    border: none;
    background-color: #ffffff;
    width: 85%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 23px;
    border-radius: 70px;
    margin-top: 15px;
    -webkit-box-shadow: 1px 4px 10px 1px rgba(207, 207, 207, 1);
    -moz-box-shadow: 1px 4px 10px 1px rgba(207, 207, 207, 1);
    box-shadow: 1px 4px 10px 1px rgba(207, 207, 207, 1);
}

.user-field {
    width: 100%;
}

.box-user-top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin-bottom: 720px;
}

.box-user-top-display {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin-bottom: 510px;
}


.box-admin-top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: -30px;
}

.change-password-top {
  width: 100%;
  position: absolute;
  margin-bottom: 490px;
  display: flex;
  justify-content: space-around;
}

.change-password-admin {
  margin-bottom: 350px;
}


.avatar-user {
  width: 100px;
  height: 100px;
  border-radius: 80px;
  border: 3px solid #00de28;
}

.input-avatar-user {
  display: none;
}

.btns-box-top {
  display: flex;
  align-items: flex-end;
  width: 60%;
  justify-content: space-around;
}

.btn-green {
  width: 45%;
  background: #00de28;
  padding: 10px;
  color: white;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.btn-disable {
  user-select: none;
  width: 45%;
  background: black;
  padding: 10px;
  color: white;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.3;
  cursor: default
}

.box-user-form {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-admin-form {
  margin-bottom: 0;
  margin-top: 150px;
}

.box-user-form form {
  width: 100%;
}

.save-input {
  margin-top: 70px;
}

form {
  width: 100%;
}

.checkbox {
    display: flex;
    align-items: center;
    width: 85%;
    margin-top: 15px;
}

.checkbox input {
    width: 20px;
    height: 20px;
}

select {
    -webkit-appearance: none;
    outline: none;
}
.checkbox span {
    font-size: 12.8pt;
    color: #373737;
    margin-left: 5px;
}

.field-icon {
    display: flex;
    width: 25px;
    height: 25px;
}

.field-icon img {
    width: 100%;
}

::placeholder {
    color: #c3c3c3;
    opacity: 1;
  }

.input-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
    width: 76%;
    color: #c3c3c3;
    margin-left: 15px;
    height: 50px !important;
    border: none;
}

textarea:focus, input:focus{
    outline: none;
}

.login {
    font-size: 14pt;
    font-weight: bold;
    background-color: #3F3F3F;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 70px;
    cursor: pointer;
}

.remove-padding {
    padding: 0;
}

.helper-text {
    margin-top: 20px;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.helper-text a {
    color: #373737;
    font-size: 13px;
    display: block;
}

.loading {
    width: 100%;
    height: 100vh;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3F3F3F; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
.input-disable{
  background: #3f3f3f;
  color: white;
}

.input-disable input {
  background: #3f3f3f;
  color: white;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
a{
    text-decoration: none;
}
@media (min-width: 200px) {
  .main-app-content {
    min-height: 600px;
  }
  .btns-box-top a{
    font-size: 10px;
  }
  .photo-box {
    width: 20px;
    height: 20px;
    background: #00de28;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    margin-top: -35px;
    margin-left: 70px;
  }

  .photo-box svg {
    margin: 3px;
  }
}
@media (min-width: 1024px) and (max-width: 2560px)
{
    .input-description {
        display: flex;
        width: 100%;
    }

    .selected-language img {
        margin-left: 4px !important;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  width: 80%;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  left: auto;
  min-width: 60px;
  position: absolute;
  right: -10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.page-title {
    color: #373737;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5vh;
}

.text-center {
    text-align: center;
}

.text-click {
  color: #34EF00;
}

.font-10 {
  font-size: 10px;
}

.font-12 {
  font-size: 12px;
}

.purple {
  color: #3F3F3F;
}

.pink {
  color: #34EF00;
}

.btn-purple {
  background-color: #3F3F3F;
  border-radius: 20px;
  margin-top: 5px;
  margin-top: 10px;
}

.text-white {
  color: #FFF;
}

.btn-tab {
  opacity: 0.5;
}

.btn-tab2 {
  opacity: 0.5;
}

.btn-tab.active {
  opacity: 1;
}

.font-11 {
  font-size: 11px;
}

.alert-wrap {
  padding: 5px;
}

.alert {
  position: fixed;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  z-index: 1040;
  border-radius: 10px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  margin-left: 30px;
  margin-top: 45px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-left: 30px;
  margin-top: 45px;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  margin-left: 30px;
  margin-top: 45px;
}

.alert-dismissible {
  padding-right: 3rem;
  margin-left: 30px;
  margin-top: 45px;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .75rem 1.25rem;
    color: inherit;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.t {
    display: none;
}

.page {
  margin-left:auto;
  margin-right:auto;
  padding-top: 0.5rem;
  width: 90%;
}

#root {
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

.back-button {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 15px;
    font-size: 12.8pt;
    color: #373737;
    margin-top: 10px;
}

.back-button img {
    width: 1rem;
    height: 1rem;
}

.back-button a {
    margin-left: 10px;
}

.pagination{
    display:inline-block;
    padding-left:0;
    margin:20px 0;
    border-radius:4px
}
.pagination>li{
    display:inline
}
.pagination>li>a,.pagination>li>span{
    position:relative;
    float:left;
    padding:6px 12px;
    margin-left:-1px;
    line-height:1.42857143;
    color:#337ab7;
    text-decoration:none;
    background-color:#fff;
    border:1px solid #ddd
}
.pagination>li:first-child>a,.pagination>li:first-child>span{
    margin-left:0;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px
}
.pagination>li:last-child>a,.pagination>li:last-child>span{
    border-top-right-radius:4px;
    border-bottom-right-radius:4px
}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{
    z-index:2;
    color:#23527c;
    background-color:#eee;
    border-color:#ddd
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
    color:#fff;
    cursor:default;
    background-color:#337ab7;
    border-color:#337ab7
}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{
    color:#777;
    cursor:not-allowed;
    background-color:#fff;
    border-color:#ddd
}
.pagination-lg>li>a,.pagination-lg>li>span{
    padding:10px 16px;
    font-size:18px;
    line-height:1.3333333
}
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{
    border-top-left-radius:6px;
    border-bottom-left-radius:6px
}
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{
    border-top-right-radius:6px;
    border-bottom-right-radius:6px
}
.pagination-sm>li>a,.pagination-sm>li>span{
    padding:5px 10px;
    font-size:12px;
    line-height:1.5
}
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{
    border-top-left-radius:3px;
    border-bottom-left-radius:3px
}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{
    border-top-right-radius:3px;
    border-bottom-right-radius:3px
}

@media (min-width: 680px) {
  .card-box {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    flex-direction: row;
  }
  .btns-box-top a{
    font-size: 16px;
  }
  .box-top {
    width: 20%;
    flex-direction: column;
    margin: 0;
  }
  .request-box {
    height: 45%;
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
  .box-bottom {
    width: 75%;
    margin-bottom: 0;
  }
  .alert-success {
    margin-left: 30px;
    margin-top: 52px;
  }

  .alert-danger {
    margin-left: 30px;
    margin-top: 52px;
  }

  .alert-info {
    margin-left: 30px;
    margin-top: 52px;
  }

  .alert-warning {
    margin-left: 30px;
    margin-top: 52px;
  }

  .alert-dismissible {
    padding-right: 3rem;
    margin-left: 30px;
    margin-top: 52px;
  }

  .img-circle {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 600px){
  .box-user-top {
    position: absolute;
    margin-bottom: 720px;
    display: flex;
    justify-content: space-around;
  }

  .box-user-top-display {
    position: absolute;
    margin-bottom: 510px;
    display: flex;
    justify-content: space-around;
  }

  .change-password-top {
    width: 100%;
    position: absolute;
    margin-bottom: 490px;
    display: flex;
    justify-content: space-around;
}

.change-password-admin {
  margin-bottom: 370px;
}

  .avatar-user {
    width: 100px;
    height: 100px;
    border-radius: 80px;
    border: 3px solid #00de28;
  }

  .input-avatar-user {
    display: none;
  }
  .btns-box-top a{
    font-size: 16px;
  }

  .photo-box {
    width: 20px;
    height: 20px;
    background: #00de28;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    margin-top: -35px;
    margin-left: 75px;
  }

  .photo-box svg {
    margin: 3px;
  }

  .btns-box-top {
    display: flex;
    align-items: flex-end;
    width: 60%;
    justify-content: space-around;
  }

  .btn-green {
    width: 45%;
    background: #00de28;
    padding: 10px;
    color: white;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 10px;
  }

  .btn-disable {
    width: 45%;
  }

  .box-user-form {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-admin-form {
    margin-bottom: 0;
    margin-top: 150px;
  }
  .user-field{
    width: 100%;
  }
}

@media (min-width: 800px){
  .box-user-top {
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 50px;
  }

  .box-user-top-display {
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 50px;
  }

  .box-admin-top {
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 50px;
  }

  .change-password-top {
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 50px;
  }

  .avatar-user {
    width: 150px;
    height: 150px;
    border-radius: 80px;
    border: 3px solid #00de28;
  }

  .input-avatar-user {
    display: none;
  }

  .photo-box {
    width: 20px;
    height: 20px;
    background: #00de28;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    margin-top: -40px;
    margin-left: 115px;
  }

  .photo-box svg {
    margin: 3px;
  }

  .btns-box-top {
    display: flex;
    align-items: flex-end;
    width: 60%;
    justify-content: center;
    padding-top: 20px;
  }

  .btn-green {
    width: 30%;
    background: #00de28;
    padding: 10px;
    color: white;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .btn-disable {
    width: 30%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
  }


  .box-user-form {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-field{
    width: 100%;
  }

  .box-user-form {
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .btn-green {
    width: 20%;
  }

  .btn-disable {
    width: 15%;
  }

  .alert-success {
    margin-left: 80px;
    margin-top: 52px;
  }

  .alert-danger {
    margin-left: 80px;
    margin-top: 52px;
  }

  .alert-info {
    margin-left: 80px;
    margin-top: 52px;
  }

  .alert-warning {
    margin-left: 80px;
    margin-top: 52px;
  }

  .alert-dismissible {
    padding-right: 3rem;
    margin-left: 80px;
    margin-top: 52px;
  }
}
.hidden {
  display: none !important;
}
