html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke !important;
}

.main-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-courses {
  display: flex;
  margin-bottom: 20px;
  margin-top: 40px;
  width: 90%;
}

.link-filters {
  display: flex;
  width: 90%;
}

.link-filters a {
  align-items: center;
  color: grey;
  display: flex;
  font-weight: bold;
  margin-left: 30px;
}

.banner-img-courses {
  background-image: url("courses/course2.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 12px;
  display: flex;
  height: 200px;
  width: 90%;
}

.banner-img-courses__content-right {
  width: 40%;
}

.banner-img-courses__content-left {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 60%;
}

.banner-img-courses__content-left p {
  font-size: 10px;
  text-align: left;
}

.banner-img-courses__content-left h1 {
  color: white;
  font-size: 22px;
  font-weight: bold;
  line-height: 25px;
  margin: 0;
}

.banner-img-courses__content-right {
  display: flex;
  justify-content: flex-end;
}

.banner-img-courses__content-right img {
  height: 150px;
  margin-right: 5px;
  width: auto;
}

.container-online-courses {
  margin-top: 40px;
  width: 100%;
}

.title-courses {
  color: grey;
  font-size: 15px;
  font-weight: 600;
}

.cards-courses {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  width: 100%;
}

.container-img-card-course {
  display: flex;
}

.container-img-card-course svg {
  align-self: center;
  margin: auto;
  position: absolute;
}

.container-cart-clicks {
  display: flex;
  flex-direction: column;
}

.container-cart-clicks span {
  font-weight: bold;
}

.cart-courses__id {
  width: 25%;
}

.card-course {
  margin-right: 30px;
  margin-top: 10px;
  min-width: 52%;
  width: 52%;
}

.img-card-course {
  align-items: center;
  background-size: 100% 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  display: flex;
  height: 130px;
  justify-content: center;
  width: 100%;
}

.container-created-by {
  margin-top: 10px;
}

.created-by {
  color: grey;
  font-size: 10px;
}

.author-course {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.container-reputation {
  display: flex;
  margin-top: 5px;
}

.stars {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.stars svg {
  margin-right: 5px;
}

.reputation-value {
  color: #f29100;
  font-size: 17px;
  font-weight: bold;
}

.title-card-course p {
  color: black;
  font-size: 11px;
  font-weight: bold;
  line-height: 17px;
  margin-top: 5px;
}

.buy-course {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.value-course {
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.btn-buy-course {
  background: linear-gradient(to bottom, #58f701, #26ac00);
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-decoration: none;
  transition: 0.5s;
  width: 60px;
}

.btn-buy-course:hover {
  background: linear-gradient(to bottom, #26ac00, #58f701);
  color: white;
}

.payment-method-button {
  background: rgb(49, 219, 2);
  border-radius: 20px;
  border: 0;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  width: 10%;
}

.checkout-button {
  background: black;
  border-radius: 20px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
  width: 20%;
}

.selection span {
  border: none !important;
  margin-left: 5px;
  width: 100%;
}

@media (max-width: 500px) {
  .link-filters a {
    font-size: 10px;
  }
}

@media (min-width: 500px) {
  .card-course {
    min-width: 45%;
    width: 46%;
  }

  .img-card-course {
    height: 200px;
  }

  .banner-img-courses {
    height: 250px;
  }
}

@media (min-width: 800px) {
  .cards-courses {
    justify-content: flex-start;
  }
  .card-course {
    margin-top: 20px;
    min-width: 30%;
    width: 30%;
  }

  .img-card-course {
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .container-online-courses {
    padding: 0;
  }

  .card-course {
    min-width: 22%;
    width: 22%;
  }

  .img-card-course {
    height: 200px;
  }
}

@media (min-width: 1500px) {
  .img-card-course {
    height: 250px;
  }
}

@media (min-width: 880px) {
  .title-card-course p {
    font-size: 17px;
    line-height: 1.5;
  }

  .banner-img-courses {
    height: 300px;
  }

  .banner-img-courses__content-right img {
    height: 300px;
    margin-right: 50px;
  }

  .banner-img-courses__content-left p {
    font-size: 20px;
    text-align: left;
  }

  .banner-img-courses__content-left h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .store-banner {
    text-decoration: none;
    width: 200px;
  }

  .store-banner p {
    font-size: 15px;
  }

  .cards-courses {
    flex-wrap: wrap;
    overflow-x: inherit;
  }

  .card-courses {
    height: 200px;
    min-width: 15%;
  }
}

.banner-courses {
  background: linear-gradient(to bottom, #1db6a3, #73f1aa);
  border-radius: 12px;
  display: flex;
  height: 150px;
  margin-top: 40px;
  width: 100%;
}

.banner-courses__content-right {
  width: 40%;
}

.banner-courses__content-left {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 60%;
}

.banner-courses__content-left h1 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  width: auto;
}

.banner-courses__content-left h2 {
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.banner-courses__content-left h3 {
  color: white;
  font-size: 10px;
  font-weight: bold;
  margin: 0;
}

.banner-courses__content-left p {
  color: white;
  font-size: 8px;
  font-weight: bold;
  margin: 0;
}

.banner-courses__content-right img {
  border-bottom-right-radius: 12px;
  height: 150px;
  width: auto;
}

@media (min-width: 880px) {
  .banner-courses {
    height: 300px;
    text-align: center;
  }

  .banner-courses__content-left {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner-courses__content-right img {
    height: 300px;
  }
  .banner-courses__content-left h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .banner-courses__content-left h2 {
    font-size: 25px;
  }

  .banner-courses__content-left h3 {
    font-size: 30px;
  }

  .banner-courses__content-left p {
    font-size: 15px;
  }
}
