.image-gallery-slide .image-gallery-image {
    width: 100%;
    height: 170px !important;
    object-fit: initial;
}

.t-tasks-galery-banner {
    margin-top: 10px;
    height: 175px;
    z-index:9999999;
    position:relative;
}

.t-tasks-gallery-buy-button {
    position:absolute;
    right:20px;
    bottom:15px;
}

.t-tasks-gallery-buy-button button {
    font-size: 8pt;
    color: white;
    width: 90px;
    height: 24px;
    background-color: #3F3F3F;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.t-tasks-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
}

.rh {
    height: initial !important;
    height: 16rem !important;
}

.f-tasks-quantity {
    font-size: 14px;
    color: #373737;
}

.f-tasks-product-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.f-tasks-product-title span {
    display: block;
    border: solid #34EF00;
    width: 5px;
    height: 2px;
    border-radius: 50%;
}


.f-tasks-product-title label {
    font-size: 12px;
    color: #223E6D;
    margin-left: 5px;
}

.is img{
    width: 45px;
}

.mt {
    margin-top: 0px !important;
}

.t-options-box {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    float: left;
    height: 10rem;
    width: 46%;
    margin-top: 3rem;
    background-color: #ffffff;
}

.t-options-box-r {
    margin-left: 4%;
}

.t-options-box-l {
    margin-right: 4%;
}

.f-box-title {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F3F3F;
    min-height: 3rem;
}

.f-box-icon {
    height: 10rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main-app-content {
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
}

.container-imgs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-imgs a {
    width: 15%;
    height: auto;
    margin-top: 30px;
}

.container-imgs img {
    height: auto;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
    min-height: 250px;
}

.container-imgs img:hover {
    cursor: pointer;
    height: 260px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

@media (min-width: 300px) and (max-width: 640px){
    .container-imgs a:nth-child(n+6):nth-child(-n+11) {
       display: none;
    }

    .container-imgs a {
        width: 30%;
    }
    .container-imgs img {
        height: 150px;
        min-height: 150px;
    }
    .container-imgs img:hover {
        height: 160px;
    }
}

@media (min-width: 640px) and (max-width: 880px){
    .container-imgs a:nth-child(n+8):nth-child(-n+11) {
        display: none;
     }

    .container-imgs a {
        width: 23%;
    }
    .container-imgs img {
        height: 150px;
        min-height: 150px;
    }
    .container-imgs img:hover {
        height: 160px;

    }
}

@media (min-width: 880px) and (max-width: 1080px){
    .container-imgs a:nth-child(n+8):nth-child(-n+11) {
        display: none;
     }

    .container-imgs a {
        width: 23%;
    }
    .container-imgs img {
        height: 150px;
        min-height: 150px;
    }
    .container-imgs img:hover {
        height: 160px;

    }
}
