.title-task {
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  color: #3f3f3f;
}

.p-title-task {
  font-weight: normal;
  font-size: 10px;
}

.box-store {
  background-image: linear-gradient(to bottom right, #53f001, #29b202);
  width: 250px;
  height: 70px;
  min-width: 250px;
  display: flex;
  align-items: center;
 
}

.f-tasks-quantity {
  font-size: 14px;
  color: #373737;
  margin-bottom: 10px;
}

.f-tasks-product-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -5px;
}

.f-tasks-product-title span {
  display: block;
  border: solid #34ef00;
  width: 5px;
  height: 2px;
  border-radius: 50%;
}




.title-ads {
  display: flex;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #3f3f3f;
}

.title-ads p {
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}

.title-ads svg {
  fill: #00d928;
}


.t-options-box {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  float: left;
  height: 10rem;
  width: 46%;
  background-color: #ffffff;
}

.t-options-box-r {
  margin-left: 4%;
}

.t-options-box-l {
  margin-right: 4%;
}

.f-box-title {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f3f3f;
  min-height: 3rem;
}

.f-box-icon {
  height: 10rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.container-imgs img:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* TEMPORARRY */
.page-home {
  margin: 0 auto;
  max-width: 1360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.page-home > *{
  width: 100%; 
  padding: 0;
  margin: 0;
}

.title-tasks {
  width: 90%;
}

.title-ads {
  width: 90%;
}

.container-imgs {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto 10px auto;
  height: auto;
  overflow: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
  column-gap: 1%;
  margin-bottom: 50px;
}

.container-imgs a {
  display: block;
  margin: 0;
  height: auto;
  width: 9.1%;   
  aspect-ratio: 16/9; 
  position: relative;

}
.container-imgs span {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
  border-radius: 5px 5px 0 0;
  background: #3f3f3fcc;
  padding:2px 8px;
} 
.container-imgs img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
}

.container-imgs-premium a {
  width: 20%; 
  
}

.container-imgs-premium img {
  width: 100%;
  height: 100%;
}


/*BOX*/
.box-store {
  min-width: 150px;
  margin-right: 10px;
  width: 120px;
  height: 40px;  
}

.img-box-store {
  width: 100%; 
  max-width: 100%; 
  max-height: 100%;
  border-radius: 0;
  padding: 0;

}

.box-store:nth-child(1) {
  margin-left: 5%;
}

.mt {
  width: 90%;  
}