.bottom-menu {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    background-color: #3F3F3F;
    min-height: 55px;
    max-height: 55px;
}

.float-icon {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    border: solid;
}

.shops {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    position: fixed;
    border: 5px solid #3F3F3F;
    border-radius: 80px;
    bottom: 15px;
    background-color: #31db02;
}

.shops a {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}

.shops img {
  width: 26px;
}
.shops div {
    margin-left: 20px;
    margin-bottom: 50px;
}
.nav {
    display: flex;
    background-color: #3F3F3F;
    min-height: 55px;
}

.icons {
    width: 20px;
    min-height: 20px;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    min-width: 65px;
    min-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    padding: 10px;
    cursor: pointer;
    width: 20%;
}

.nav__link--active {
    color: #3F3F3F;
}

.title-btn-shop {
    color: white;
    height: 10px;
    margin-bottom: 0;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --mainColor: #3f3f3f;
    --secondColor: #f1f1f1;
    --borderPattern: 10px;
    --slideRight: 100%;
}

.main-list {
    position: relative;
    font-family: 'Lato', sans-serif;
    align-items: center;
    background: var(--mainColor);
    display: flex;
    height: 70px;
    justify-content: space-around;
    list-style: none;
    margin: auto;
    padding-left: 0;
    width: 100%;
}

.main-list li {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-list li a{
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--secondColor);
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}

.main-list li p {
    position: relative;
    margin: 0;
    color: var(--secondColor);
    font-size: 12px;
    margin-bottom: 5px;
}

.main-list .svg {
    width: 20px;
    height: 20px;
    transition: 0.5s;
    position: relative;
}

.main-list li.active p{
    position: relative;
    transition: 0.5s;
}

.main-list li.active .svg {
    position: relative;
    transform: translateY(-27px);
    z-index: 5;
    border-radius: 50px;
}

.svg svg {
  fill: white;
  width: 20px;
  height: 20px;
}

.main-list li.active .svg svg{
    position: relative;
    fill: #3f3f3f;
}

.indicator {
    position: absolute ;
    display: flex;
    top: -47%;
    margin-left: -80%;
    width: 55px;
    height: 55px;
    background: #53f001;
    border-radius: 50px;
    border: 6px solid var(--secondColor);
    transition: 0.5s;
}

/*.indicator::before {
    content: '';
    position: absolute;
    top: 68%;
    left: -32%;
    width: 15px;
    height: 15px;
    background: var(--mainColor);
    border-top-right-radius: 17px;
    box-shadow: 0px -5px 0 0 var(--secondColor);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 68%;
    right: -33%;
    width: 15px;
    height: 15px;
    background: var(--mainColor);
    border-top-left-radius: 17px;
    box-shadow: 0px -5px 0 0 var(--secondColor);
}*/

@media (max-width: 660px){
  .link-nav {
    font-size: 10px;
  }

  .main-list li.active .svg {
      position: relative;
      transform: translateY(-30px);
      z-index: 5;
      border-radius: 50px;
  }
}
