.main-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-games {
  margin-top: 40px;
  width: 90%;
  display: flex;
  height: 150px;
  background: linear-gradient(to bottom, #1db6a3, #73f1aa);
  border-radius: 12px;
}

.banner-games__content-right {
  width: 40%;
}

.banner-games__content-left {
  width: 60%;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-games__content-left h1{
  width: auto;
  font-weight: bold;
  font-size: 25px;
  color: white;
  margin: 0;
  line-height: 30px;
}

.banner-games__content-left h2{
  font-weight: bold;
  font-size: 12px;
  color: white;
  margin: 0;
}

.banner-games__content-left h3{
  font-size: 10px;
  color: white;
  margin: 0;
  font-weight: bold;
}

.banner-games__content-left p{
  font-weight: bold;
  font-size: 8px;
  color: white;
  margin: 0;
}

.banner-games__content-right img {
  width: auto;
  height: 150px;
  border-bottom-right-radius: 12px;
}

.cards-games {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card-games {
  width: 30%;
}

@media (min-width: 880px){
  .banner-games {
    height: 300px;
    text-align: center;
  }

  .card-games {
    width: 15%;
  }

  .store-banner {
    width: 200px;
  }

  .store-banner p {
    font-size: 30px;
  }

  .banner-games__content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-games__content-right img {
    height: 300px;
  }
  .banner-games__content-left h1{
    font-size: 40px;
    line-height: 40px;
  }

  .banner-games__content-left h2{
    font-size: 25px;
  }

  .banner-games__content-left h3{
    font-size: 30px;
  }

  .banner-games__content-left p{
    font-size: 15px;
  }
}
