.align-center {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.align-items {
  margin: 0;
  padding-top: 10px;
  position: relative;
  text-align: center;
}

.align-right {
  position: absolute;
  right: 0;
  top: 0;
}

header {
  align-items: center;
  background-color: #3f3f3f;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 105px;
  justify-content: space-between;
  min-height: 105px;
  min-height: 105px;
  width: 100%;
}

.header-container {
  height: 50%;
  margin: auto;
  max-width: 1360px;
  width: 90%;
}

.nav-link {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.logo {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 0;
  max-height: 35px;
}

.logo a {
  margin-right: 25px;
  width: 180px;
}

.logo a img {
  margin-top: 30px;
}

.user-details {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.user-avatar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.user-avatar img {
  border-radius: 50%;
  border: 2px solid #00d928;
  height: 30px;
  width: 30px;
}

.welcome-text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-left: 5px;
}

.logout-user {
  padding: 20px;
}

.link-share {
  align-items: center;
  align-items: flex-end;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 5px 0 5px 5px;
  width: max-content;
}

.link-share svg {
  margin-right: 5px;
}

.link-share a {
  align-items: center;
  color: white;
  display: flex;
  font-size: 12px;
  width: max-content;
}

#myLinks {
  background-color: #3f3f3f;
  position: fixed;
}

#myLinks a {
  text-align: end;
}

.topnav {
  background-color: #3f3f3f;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  display: block;
  font-size: 17px;
  padding: 10px 16px;
  text-decoration: none;
}

.topnav a.icon {
  color: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 400px) {
  .logo a img {
    margin-top: 0;
  }

  .link-share .hyperlink {
    font-size: 8px;
  }
}
