@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.home-page {
  font-family: "Lato", sans-serif;
  height: auto;
  padding-bottom: 50px;
  width: 100%;
}

.home-page-title h3 {
  color: #3f3f3f;
  font-weight: 600;
  line-height: 5px;
  margin-top: 30px;
}

.home-page-title p {
  color: #3f3f3f;
}

.cards-account {
  display: flex;
  height: auto;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.card-account {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 30%;
}

.card-account p {
  color: #3f3f3f;
  font-size: 12px;
  margin-top: 5px;
}

.content-card-account {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: flex-end;
  width: 100%;
}

.content-card-account svg {
  height: 100%;
}

.content-bottom-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50px;
  margin-top: 20px;
  width: 100%;
}

.btn-active-account {
  align-items: center;
  background-color: #00d928;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 200px;
}

.btn-active-account p {
  margin: 0;
  text-align: center;
}

.balance {
  margin-top: 50px;
  width: 100%;
}

.balance-box,
.bottom-box {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  padding: 20px;
  width: 100%;
}

.content-left {
  width: 60%;
}

.content-left h3 {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 400;
}

.content-left h2 {
  color: #3f3f3f;
  font-size: 32px;
  font-weight: 600;
}

.content-left-bottom p {
  font-size: 10px;
}

.content-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 40%;
}

.btn-balance,
.btn-sponsor-link {
  align-items: center;
  background-color: #00d928;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5px;
  width: 90%;
}

.btn-balance p,
.btn-sponsor-link p {
  margin: 0;
}

.progress-bar-balance {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 30px;
  padding: 20px;
  width: 100%;
}

.progress-bar-balance p:nth-child(1) {
  color: #3f3f3f;
  font-size: 18px;
  font-weight: 600;
}

.progress-bar-balance {
  color: #3f3f3f;
  font-size: 12px;
}

.flex-lg-screen {
  margin-top: 40px;
}

.home-bottom {
  width: 100%;
}

.home-bottom-titles {
  margin-bottom: 10px;
}

.home-bottom-titles h3 {
  color: #3f3f3f;
  font-size: 18px;
  font-weight: 600;
  line-height: 5px;
}

.home-bottom-titles p {
  color: #3f3f3f;
  font-size: 13px;
}

.content-left-top h3 {
  color: #3f3f3f;
  font-size: 12px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
}

.left-bottom {
  display: flex;
  margin-top: 10px;
}

.left-bottom svg {
  fill: #00d928;
  padding-right: 5px;
}

.left-bottom p {
  font-size: 8px;
  width: 85%;
}

.support-home {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  margin-top: 30px;
  padding: 20px;
  width: 100%;
}

.support-home .content-left h3 {
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 5px;
}

.support-home .content-left p {
  color: #3f3f3f;
  font-size: 12px;
}

.btn-red {
  background: #dc3545;
  border-radius: 20px;
  color: white;
  font-size: 7px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px 12px;
}

.btn-green {
  background: #00d928;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 0px;
  color: white;
  font-size: 7px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  padding: 5px 12px;
  text-align: center;
  width: 100%;
}

.courses-container {
  display: flex;
  margin-top: 40px;
  overflow-x: scroll;
  width: 100%;
}

.course-card {
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  height: 120px;
  justify-content: center;
  margin-right: 5px;
  min-width: 28%;
}

.course-card img {
  height: 40px;
  width: 40px;
}

.course-card span {
  margin-top: 10px;
}

@media (min-width: 250px) and (max-width: 550px) {
  .content-card-account {
    max-height: 150px;
  }
}

@media (min-width: 550px) {
  .balance-box {
    min-height: 200px;
  }

  .balance-left-top {
    margin-top: 40px;
  }

  .content-left-top h3 {
    font-size: 18px;
  }

  .content-left-top h2 {
    font-size: 40px;
  }

  .content-left-bottom p {
    color: #3f3f3f;
    font-size: 14px;
    font-weight: 400;
  }

  .progress-bar-balance p {
    font-size: 14px;
  }

  .bottom-box {
    padding: 20px;
  }

  .support-home .content-left h3 {
    font-size: 18px;
  }

  .support-home .content-left p {
    font-size: 14px;
  }

  .btn-red {
    font-size: 12px;
  }

  .btn-green {
    font-size: 12px;
  }

  .courses-container {
    justify-content: space-between;
    overflow-x: inherit;
  }

  .course-card {
    height: 200px;
    min-width: 19%;
    width: 18%;
  }
}

@media (min-width: 900px) {
  .cards-account {
    height: 250px;
  }

  .card-account {
    height: 200px;
  }

  .content-card-account svg {
    height: 100%;
  }

  .balance-box {
    min-height: 200px;
  }

  .balance-left-top {
    margin-top: 20px;
  }

  .content-left-top h3 {
    font-size: 18px;
  }

  .content-left-top h2 {
    font-size: 40px;
  }

  .progress-bar-balance p {
    font-size: 14px;
  }

  .bottom-box {
    min-height: 200px;
    padding: 20px;
  }

  .bottom-left-top {
    margin-top: 25px;
  }

  .support-home .content-left h3 {
    font-size: 18px;
  }

  .support-home .content-left p {
    font-size: 14px;
  }

  .btn-red {
    margin-bottom: 5px;
  }

  .btn-green {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (min-width: 1250px) {
  .card-account p {
    font-size: 16px;
  }

  .balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .balance-box {
    height: 200px;
    width: 48%;
  }

  .progress-bar-balance {
    height: 200px;
    margin-top: 0;
    width: 48%;
  }

  .flex-lg-screen {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  .home-bottom {
    width: 48%;
  }

  .support-home {
    height: 200px;
    max-height: 200px;
    width: 48%;

    max-height: 200px;
  }

  .support-home .content-left h3 {
    margin-top: 45px;
  }
}

@media (min-width: 1500px) {
  .cards-account {
    height: auto;
  }

  .content-card-account {
    height: 250px;
  }
}
