.card-order {
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
}
.back-button {
    background: #30da03;
    width: 50px;
    height: 27px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    color: white;
}

.th-history-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.th-history-task-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #373737;
    font-size: 14px;
    font-weight: bold;
}

.th-history-task-status {
    display: flex;
    justify-content: space-between;
}

.th-history-task-status div{
    display: flex;
}

.th-history-task-id {
    font-size: 10px;
    font-weight: bold;
    color: #9B9B9B;
}

.th-history-task-status-action {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 20px;
    font-size: 12px;
    background-color: #FF0000;
    color: white;
    white-space: nowrap;
}

.status-pending {
    background-color: yellow;
    color: black;
}

.status-success {
    background-color: #30da03;
}

.status-waiting {
    background-color: blue;
}

.status-canceled {
    background-color: red;
}

.task-history-sucess {
    background-color: #20A400;
}

.task-history-process {
    background-color:#E7A700;
}

.th-history-task-date {
    display: flex;
    align-items: center;
    font-size: 10px;
    height: 20px;
    margin-right: 5px;
}

.wr-align {
    display: flex;
    flex-direction: column;
}

.wr-amount {
    color: #373737 !important;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-top: 0.5rem;
}

.wr-title {
    justify-content: space-between;
}

.is-page-title {
    display: flex;
    justify-content: space-between;
}

.is-page-title span {
    font-weight: bold;
    font-size: 1.5rem;
    color: #373737;
}

.text-danger {
  color: red !important;
}

.margin-bottom {
  margin-bottom: 50px;
}

@media (min-width: 300px) and (max-width: 1280px) {
    .card-order {
        width: 100%;
        padding: 10px;
        margin-top: 40px;
    }
    .card-order span {
        font-size: 12px;
    }
}
