.container-showcase {
  min-width: 270px;
  width: 100%;
}

.container-showcase-video {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.title-showcase {
  font-weight: bold;
}

.video-showcase {
  margin: 20px 0;
}

.video-showcase img {
  aspect-ratio: 5 / 3;
  border-radius: 20px;
  display: block;
  height: 300px;
  width: 500px;
}

.showcase-created-by span {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.title-video-showcase {
  font-weight: bold;
}

.subtitle-video-showcase {
  font-size: 13px;
}

.container-payment-showcase {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 500px;
}

.value-payment {
  font-size: 25px;
  font-weight: bold;
}

.btn-showcase-buy {
  background: linear-gradient(to bottom, #26ac00, #58f701);
  border-radius: 5px;
  border: none;
  color: white;
  margin-left: 10px;
  padding: 5px;
  transition: 0.5s;
  width: 100px;
}

.btn-showcase-buy:hover {
  background: linear-gradient(to bottom, #58f701, #26ac00);
}

.description-showcase {
  margin-top: 40px;
}

.description-showcase span {
  font-size: 15px;
  font-weight: bold;
}

.description-showcase p {
  font-size: 12px;
}

.additionals {
  display: flex;
  flex-direction: column;
}

.additionals span {
  font-size: 12px;
}

.title-additionals {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container-related-videos {
  margin-top: 40px;
  padding-left: 5%;
}

.title-related-videos {
  font-size: 15px;
  font-weight: bold;
}

@media (min-width: 880px) {
  .container-related-videos {
    padding: 0;
  }
}

@media (min-width: 1280px) {
}
