body {
  background-color: whitesmoke !important;
}

.container-taught-courses {
  width: 100%;
}

.container-mid-taught-courses {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px;
  width: 100%;
}

.box-taught-course:last-child {
  border-bottom: none;
}

.box-taught-courses-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-taught-courses {
  font-weight: bold;
}

.btn-secondary {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
  padding: 5px 10px;
}

.btn {
  padding: 0 !important;
}

.box-taught-course {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 20px;
}

.id-course {
  color: grey;
  font-size: 12px;
}

.id-number {
  font-size: 14px;
  font-weight: bold;
}

.img-course {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  height: auto;
  object-fit: cover;
  width: 60px;
}

.details-course {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.date-course,
.text-course {
  font-size: 10px;
}

.text-course {
  font-weight: bold;
}

.status-taught-course {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status-taught-course .btn-status:nth-child(2) {
  margin-top: 5px;
}

.btn-status {
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 10px;
  margin-top: 5px;
  padding: 3px 10px;
  text-align: center;
  width: 90px;
}

.status-waiting {
  background: linear-gradient(to bottom, #58f701, #26ac00);
}

.status-inactive {
  background: red;
}

.status-waiting-lessons {
  background: #9b9b9b;
}

.status-active {
  background: #00de28;
}

.actions-taught-course,
.status-taught-course {
  cursor: pointer;
}

.actions-taught-course svg:nth-child(1) {
  margin-right: 5px;
}

@media (min-width: 880px) {
  .img-course {
    height: auto;
    width: 120px;
  }

  .date-course,
  .text-course {
    font-size: 13px;
  }

  .id-course span {
    font-size: 18px !important;
  }

  .btn-status {
    font-size: 13px;
    padding: 5px 10px;
    width: 120px;
  }
}
