<div class="box-orders">
  <div class="box-second">
    <h4 class="page-title">List of Raffles</h4>
    <p class="text-muted page-title-alt"></p>
  </div>
  <div class="box-second">
    <div class="card-box">
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-bordered m-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Raffle Name</th>
                  <th>Raffle Price</th>
                  <th>Raffle Type</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Raffle Id</th>
                  <td>Raffle Name</td>
                  <td>Raffle Price</td>
                  <td>Raffle Type</td>
                  <td>
                    <i class="fas fa-edit"></i>
                    <i class="fas fa-trash"></i>
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="text-center">Nada encontrado</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
