.main-container-ads {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-page {
  padding: 20px 0;
}

.title-page span {
  font-size: 22px;
  font-weight: bold;
}

.container-ads {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-ad {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  width: 49%;
}

.container-title-ad {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.container-title-ad span {
  font-weight: bold;
}

.img-ad {
  border-radius: 10px;
  height: 10rem;
  margin-top: 10px;
  object-fit: cover;
  width: 15rem;
}

.container-counters-ad {
  width: 33%;
}

.title-counter-ad {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.main-title-ad {
  font-size: 16px;
}

.container-counter {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.counter-ad {
  color: green;
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
  margin: auto;
  width: auto;
}

.container-link-ad {
  align-items: center;
  display: flex;
  margin-top: 30px;
  width: 60%;
}

.input-link-ad {
  border-radius: 10px;
  border: 1px solid rgba(118, 118, 118, 0.3);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.button-copy-ad {
  background: #06fa26;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  padding: 10px;
  transition: 0.5s;
  width: 50px;
}

.container-edit-ad {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 25%;
}

.button-edit-ad {
  align-items: center;
  background: #00d928;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  width: 100%;
}

.button-copy-ad:hover,
.button-edit-ad:hover,
.button-countries:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-countries-ad {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 50%;
}

.button-countries {
  align-items: center;
  background: #06fa26;
  border-radius: 10px;
  border: none !important;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-right: 10px;
  padding: 10px 5px;
  transition: 0.5s;
  width: 100%;
}

.button-countries svg,
.button-edit-ad svg {
  margin-right: 5px;
}

.button-countries:active .button-countries:hover,
.button-countries:after {
  border: none !important;
}

.back-button {
  background: #30da03;
  border-radius: 60px;
  color: white;
  display: flex;
  height: 27px;
  justify-content: center;
  margin-bottom: 20px;
  width: 50px;
}

.button-reactive-ad {
  align-items: center;
  background: green;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  width: 100%;
}

.button-pause-ad {
  align-items: center;
  background: red;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  width: 100%;
}

.button-pause-ad a {
  align-items: center;
  color: white;
  display: flex;
}

.button-reactive-ad svg,
.button-pause-ad svg {
  margin-right: 5px;
}

.container-ad-flex {
  align-items: center;
  display: flex;
  margin-top: 30px;
  padding: 0 10px 0 0;
  width: 25%;
}

.container-status-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

.container-status-ad span {
  font-weight: bold;
}

.status-ad {
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.status-ad-approved {
  background: #30da03;
}

.status-ad-pending {
  background-color: orange;
}

.status-ad-canceled,
.status-ad-expired,
.status-ad-blocked,
.status-ad-holding,
.status-ad-finish {
  background: red;
}

@media (max-width: 1050px) {
  .container-ad {
    width: 100%;
  }

  .container-title-ad span,
  .title-counter-ad {
    font-size: 12px;
  }

  .container-status-ad {
    width: 35%;
  }

  .status-ad {
    font-size: 12px;
  }

  .button-countries {
    font-size: 12px;
  }

  .button-countries span,
  .button-edit-ad span,
  .button-pause-ad span {
    display: none;
  }

  .counter-ad {
    font-size: 25px;
  }

  .status-ad {
    padding: 10px 0;
  }
}
