<div class="row">
  <div class="col-md-6">
    <div class="card-box">
    <%= content_tag(:h4, t(:new_digital_wallet)) %>
    <hr />
    <%= simple_form_for([:users, @digital_wallet], html: { class: 'form-horizontal' }) do |f| %>
    <div class="col-md-9">
      <%= f.input_field :address, class: "form-control", placeholder: t(:digital_wallet) %>
    </div>

      <%= f.button :button, t("defaults.post"),
                              data: { disable_with: t('helpers.save_with_disable') }, class: 'btn' %>

    <% end %>
  </div>
</div>
</div>
