<h1>Vistoria Ativada</h1>

<p>Prezado(a), <%= @user.name %></p>
<br>
<p>Parabéns, sua vistoria foi aprovada</p>
<br>
<p>Assistência 24hs estará ativa em 05 dias úteis.</p>
<br>
<p>Caso seu veículo se encontre nas especificações abaixo:</p>
<ul>
  <li>Caminhões acima de R$ 75.000,00;</li>
  <li>Veículos leves acima de R$ 60.000,00;</li>
  <li>Pick-ups acima de R$ 30.000,00;</li>
  <li>Vans e micro-ônibus acima de R$ 60.000,00;</li>
  <li>Motos a partir 500 cc.</li>
</ul>
<p>Se faz obrigatório a instalação do rastreador veicular.</p>
<br>
<p>
Entretanto a proteção contra roubo ou furto, somente estará ativa após a instalação e
ativação do rastreador veicular, com o prazo de 7 a 15 dias.
Caso seu veículo não se encontre em nenhuma destas especificações supracitada, sua
proteção ESTÁ ATIVA a partir das zero horas, com todos os benefícios do pacote escolhido.
</p>

<br>
<br>
<p>Cordialmente,</p>
<p>Future Motors e Ancore</p>
