.winners-card-container {
  display: flex;
  flex-direction: column;
  font-size: calc(0.3rem + 1.2vw);
  row-gap: 2em;
}

.card-item {
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  column-gap: 3%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0.5em;
}

.card-item > li {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.card-item > li:nth-of-type(1) {
  align-items: center;
  justify-content: space-between;
}

.card-item > li:nth-of-type(1) > span {
  color: #999;
  font-size: 0.7em;
}

.draw-date {
  font-weight: 600;
  line-height: 0.8em;
}

.draw-date i {
  font-style: normal;
  display: none;
}

.draw-number {
  line-height: 0.7em;
}

.avatar-container {
  align-items: center;
  border-radius: 50%;
  border: 1px solid #eee;
  display: flex;
  height: 4.9em;
  justify-content: center;
  width: 4.9em;
}

.avatar-image {
  border-radius: 50%;
  height: 4.3em;
  width: 4.3em;
}

.winners-name {
  max-width: 100%;
  overflow: hidden;
  padding: 0 0 0 10%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-item > li:nth-of-type(2) {
  width: 46%;
}

.draw-link {
  border-bottom: 1px solid transparent;
  color: #da1734;
  margin-bottom: 0.5em;
  width: max-content;
}

.draw-link:hover {
  border-bottom: 1px solid #da1734;
}

.result-ticket-list {
  column-gap: 0.5em;
  display: flex;
}

.result-ticket-list li {
  align-items: center;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(176, 176, 176, 1) 100%);
  border-radius: 50%;
  color: #000;
  display: flex;
  font-size: 0.8em;
  font-weight: 600;
  height: 2.5em;
  justify-content: center;
  position: relative;
  width: 2.5em;
}

.result-ticket-list li b {
  color: #da1734;
}

.result-ticket-list li.has-arrow::after {
  bottom: -1.2em;
  color: #777;
  content: "↓";
  font-size: 1em;
  left: 1.1em;
  position: absolute;
}

.result-ticket-list li:last-of-type {
  background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(121, 9, 9, 1) 100%);
  color: white;
}

.wining-ticket-number {
  background: linear-gradient(0deg, rgba(204, 204, 204, 1) 0%, rgba(219, 219, 219, 1) 100%);
  border-radius: 5px;
  color: #333;
  column-gap: 0.54em;
  display: flex;
  display: flex;
  font-size: 2em;
  font-weight: 600;
  justify-content: center;
  margin-top: 0.5em;
  padding: 0.1em 0.3em;
  text-align: center;
  width: max-content;
}

.wining-ticket-number i {
  align-items: center;
  color: #999;
  display: flex;
  font-size: 0.5em;
  height: 100%;
  width: fit-content;
}

.card-item > li:nth-of-type(3) {
  width: 28%;
}

.product-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.product-image {
  max-height: 7em;
  max-width: 8em;
}

.raffle-name {
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 780px) {
  .raffle-tickets-return-button {
    height: 40px;
    width: 40px;
  }

  .winners-card-container {
    column-gap: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: calc(0.2rem + 0.9vw);
  }

  .card-item {
    min-width: 48%;
    width: 48%;
  }
}

@media (min-width: 1500px) {
  .winners-card-container {
    font-size: 1.05rem;
  }
}
