<div class="panel panel-border panel-custom">
  <div class="panel-body">
    <%= form_tag new_backoffice_order_payment_path, method: :get do %>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="form-group">
            <%= label_tag t('attributes.order_code') %>
            <%= text_field_tag :order_id, '', class: 'form-control', required: true %>
          </div>
        </div>
        <div class="col-xs-12 col-md-1">
          <div class="form-group">
            <label class="hidden-xs"> &nbsp; </label>
            <%= button_tag class: 'form-control btn btn-primary', type: 'submit' do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
