<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('.title') %></h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default panel-border">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <p><%= t('.instructions') %></p>
        <br>
        <ul class="list-unstyled w-list">
          <li><b><%= User.human_attribute_name(:available_balance) %>:</b> <%= number_to_currency current_user.available_balance %> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
