<!-- Financial menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-money"></i><span class="menu-arrow"></span><span> <%= t('defaults.financial') %> </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.new_withdraw'), new_backoffice_withdrawal_path %></li>
    <li><%= link_to t('defaults.withdrawals'), backoffice_withdrawals_path %></li>
    <li><%= link_to t('defaults.financial_entries'), backoffice_financial_transactions_path %></li>
  </ul>
</li>
