<!-- Shop menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-shopping-cart"></i><span class="menu-arrow"></span><span> Loja </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.shop'), backoffice_products_path %></li>
    <li><%= link_to t('defaults.my_orders'), backoffice_orders_path %></li>
  </ul>
</li>
