<!-- Admin menu -->
<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-world"></i><span class="menu-arrow"></span><span> <%= t('defaults.financial') %> </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.manage_withdrawals'), backoffice_admin_withdrawals_path %></li>
  </ul>
</li>
<!-- Downloads menu -->
<li>
  <%= link_to backoffice_downloads_path do %>
    <i class="md md-cloud-download"></i>  Download Material
  <% end %>
</li>
