<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-settings"></i><span class="menu-arrow"></span><span> <%= t('defaults.settings') %> </span></a>
  <ul class="list-unstyled">
    <li>
      <%= link_to backoffice_admin_careers_path do %>
        <%= t('defaults.careers') %>
        <span class="label label-pink pull-right">A</span>
      <% end %>
    </li>
  </ul>
</li>
