<li class="has_sub">
  <a href="javascript:void(0);" class="waves-effect"><i class="ti-shopping-cart"></i><span class="label label-warning pull-right">6</span><span> eCommerce </span></a>
  <ul class="list-unstyled">
    <li><%= link_to t('defaults.careers'), backoffice_admin_careers_path %></li>
    <li><%= link_to t('defaults.categories'), backoffice_admin_categories_path %></li>
    <li><%= link_to t('defaults.products'), backoffice_admin_products_path %></li>
      <li><a href="ecommerce-dashboard.html"> Dashboard</a></li>
      <li><a href="ecommerce-products.html"> Products</a></li>
      <li><a href="ecommerce-product-detail.html"> Product Detail</a></li>
      <li><a href="ecommerce-product-edit.html"> Product Edit</a></li>
      <li><a href="ecommerce-orders.html"> Orders</a></li>
      <li><a href="ecommerce-sellers.html"> Sellers</a></li>
  </ul>
</li>
