<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title"><%= t('.title') %></h4>
    <p class="text-muted page-title-alt"><%= t('.subtitle') %></p>
  </div>
</div>

<% if ENV['WITHDRAWAL_WITH_DIGITAL_COIN'] == 'true' %>
  <%= render partial: 'digital_coin_form' %>
<% else %>
  <%= render 'form', locals: { form: f} %>
<% end %>
