<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Criar Conta de Participação</h4>
    <p class="text-muted page-title-alt">Adicione uma nova conta de participação</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <%= render "form", investment: investment, path: backoffice_admin_investments_path %>
    </div>
  </div>
</div>
