<div class="new-footer">
  <footer class="footer-cmp">
    <div class="footer-cmp__copyright py-3 text-center">
      &copy;<%= Date.current.year %> <%= t('defaults.copyright', company_name: ENV['COMPANY_NAME']) %>
    </div>
  </footer>
</div>
