<!-- Footer -->
<footer class="footer-cmp">
  <div class="container">
    <div class="row m-t-30 m-b-30">
      <div class="col-md-3 d-flex">
        <i class="fas fa-phone footer-cmp__icon"></i>
        <div>
          <p class="footer-cmp__title">Entre em contato</p>
          <p class="footer-cmp__info">(62) 3988-8067 / 3988-8077</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <i class="fas fa-envelope footer-cmp__icon"></i>
        <div>
          <p class="footer-cmp__title">Envie um e-mail</p>
          <p class="footer-cmp__info">contato@morenwm.com</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <i class="fas fa-map-marker-alt footer-cmp__icon"></i>
        <div>
          <p class="footer-cmp__title">Sede Comercial</p>
          <p class="footer-cmp__info">
            More Network Marketing<br>
            CNPJ 11.351.240/0001-57
            Avenida Rui Barbosa, Qd 06 Lt 05<br> Setor Serrinha - CEP 74835-070 <br/>Goiânia - GO
          </p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <i class="fas fa-cog footer-cmp__icon"></i>
        <div>
          <p class="footer-cmp__title">Desenvolvido por </p>
          <%= image_tag 'logo_more.png', style: 'padding-top: 18px;', title: 'MoreNWM - More Network Marketing' %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-cmp__copyright py-3 text-center">
    &copy; Todos os direitos reservados More Network Marketing - <a href="#" target="_blank">Termos e condições</a>
  </div>
</footer>
