<!-- Footer -->
<footer class="footer-cmp">
  <div class="container">
    <div class="row m-t-30 m-b-30">
      <div class="col-md-3 d-flex">
        <i class="fas fa-phone footer-cmp__icon"></i>
        <div>
          <p class="footer-cmp__title">Entre em contato</p>
          <p class="footer-cmp__info">SAC 0800 1234 123 <br/> Ouvidoria 0800 1234 456</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <i class="fas fa-envelope footer-cmp__icon"></i>
        <div>
          <p class="footer-cmp__title">Envie um e-mail</p>
          <p class="footer-cmp__info">contato@maisvoz.com.br</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <i class="fas fa-map-marker-alt footer-cmp__icon"></i>
        <div>
          <p class="footer-cmp__title">Sede Comercial</p>
          <p class="footer-cmp__info">
            Rua Herculano H. Zanuzo, Nº 379 <br/>
            Sala 05 - Bairro Industrial <br/>
            CEP 89770-000
          </p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <i class="fas fa-cog footer-cmp__icon"></i>
        <div>
          <p class="footer-cmp__title">Desenvolvido por </p>
          <%= image_tag 'logo_more.png', style: 'padding-top: 18px;', title: 'More Network Marketing' %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-cmp__copyright py-3 text-center">
    &copy; Todos os direitos reservados Mais Voz - <a href="#" target="_blank">Termos e condições</a>
  </div>
</footer>
