<!-- Footer -->
<footer class="footer-cmp">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="footer-cmp__links">
          <li><a href="" class="footer-cmp__link">A FUTURE MOTORS</a></li>
          <li>
            <a href="https://www.facebook.com/futuremotorsoficial/" target="_blank" class="footer-cmp__icon"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCMYfi0tJY7Lw-kg70DBx9zQ/featured" target="_blank" class="footer-cmp__icon"><i class="fa fa-youtube-play"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/futuremotorsbrasil/" target="_blank" class="footer-cmp__icon"><i class="fa fa-instagram"></i></a>
          </li>
          <li><a href="" class="footer-cmp__link">A FUTURE GREEN</a></li>
        </ul>
      </div>
    </div>

    <div class="row m-b-60">
      <div class="col-md-3">
        <%= image_tag 'footer/phone.png', class: 'footer-cmp__image' %>
        <div>
          <p class="footer-cmp__title">Entre em contato</p>
          <p class="footer-cmp__info">(62) 3988-8067 / 3988-8077</p>
        </div>
      </div>
      <div class="col-md-3">
        <%= image_tag 'footer/email.png', class: 'footer-cmp__image' %>
        <div>
          <p class="footer-cmp__title">Envie um e-mail</p>
          <p class="footer-cmp__info">contato@futuremotors.com.br</p>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <%= image_tag 'footer/place.png', class: 'footer-cmp__image' %>
        </div>
        <div>
          <p class="footer-cmp__title">Sede Comercial</p>
          <p class="footer-cmp__info">
            Future Motors Tecnologia Ltda <br>
            CNPJ: 26.446.378/0002-98
            Endereço: Av. Rui Barbosa Qd. 06, Lt. 05,<br> Setor: Serrinha - CEP: 74835-070 <br/>Cidade: Goiânia-GO
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <p class="footer-cmp__title">Desenvolvido por </p>
        <%= image_tag 'logo_more.png', style: 'padding-top: 18px;', title: 'MoreNWM - More Network Marketing' %>
      </div>
    </div>
  </div>

  <div class="footer-cmp__copyright py-3 text-center">
    © Todos os direitos reservados Future Motors - <a href="https://res.cloudinary.com/hj5kx1tjj/image/upload/v1525460128/Termos_e_Condic%CC%A7o%CC%83es_do_E-Commerce.pdf" target="_blank">Termos e condições</a>
  </div>
</footer>
