<%= stylesheet_link_tag 'click-tok-theme/simple_header' %>

<div class="simple-header">
  <%= render 'layouts/shared/language_select' %>
  <div class="simple-header-logo">
    <%= image_tag('logo.png', alt: ENV['COMPANY_NAME'], 'stroke-width' => '2' ) %>
  </div>
</div>
