<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td style="padding:18px 0px 18px 0px;line-height:22px;text-align:inherit;"
        height="100%"
        valign="top"
        bgcolor="">
      <h2 style="text-align: center;">
        <span> <%= t('.call', name: @user.name) %> </span>
      </h2><br>
      <div style="font-size: 16px;text-indent: 30px;">
        <span>
          <%= t('.body', company_name: SystemConfiguration.company_name) %>
        </span>
      </div><br>
      <span>
        <%= t('.footer', company_name: SystemConfiguration.company_name).html_safe %>
      </span>
    </td>
  </tr>
</table>
