<div class="col-sm-12 m-b-23">
  <h4 class="page-title">Downloads</h4>
</div>

<div class="row">

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Cartão de Visita para Empreendedor</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/hydtieuwnkm3g9b/Cart%C3%A3o%20de%20Visita%20para%20Empreendedores.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Folder Multifuncional H-MAX</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/m5o0o9dlq21snns/Folder%20Multifuncional%20H-MAX.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Panfleto H-MAX</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/udi9lrarbs31v7q/Panfleto%20H-MAX.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Modelos de Convite para Eventos</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/cilnry06058fjgy/Modelo%20de%20Convite.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Manual do Negócio</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/gqp28dwstv04rcw/Manual%20do%20Plano%20de%20Negocio.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Plano de Compensação</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/7fqudzppc7tpepk/PLANO%20DE%20COMPENSA%C3%87%C3%83O.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Apresentação do Negócio</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/5y9mbk55c9f36b6/APN%20VERS%C3%83O%20COMPLETA.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Instalação do H-max</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://youtu.be/BDu_fUOtodQ" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">H-max inovacão tecnológica</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://youtu.be/RYAupehqGmE" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Adesivos para Carros - Branco</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/anm8402ogrz4uen/Adesivo%20Branco%20Carro.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Adesivos para Carros - Preto</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/rzuf2uivhbjsk4r/Adesivo%20Preto%20Carro.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Adesivos para Carros - Espelhado</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/ycrg7zzz2b241oq/Adesivo%20Espelhado%20Carro.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>


</div>
