<div class="col-sm-12 m-b-23">
  <h4 class="page-title">Downloads</h4>
</div>

<div class="masonry-container col-md-12">

  <% links.each do |link| %>
    <div class="filter apn" style="">
      <div class="card-box">
        <img src="" class="img-responsive">
        <div class="card-body">
          <h4 class="card-title"><%= link[:name] %></h4>
          <a type="button" class="btn btn-success waves-effect waves-light" href="<%= link[:url] %>" target="_blank">
            <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
          </a>
        </div>
      </div>
    </div>
  <% end %>

</div>

<div class="col-md-12">
  <h4>Imagens para Mídias Sociais</h4>
</div>

<% images.each_with_index do |image, i| %>

  <div class="col-md-2" style="margin-bottom: 8px">
    <a href="<%= image %>" target="_blank">
      <img class="card-img-top img-fluid img-responsive" src="<%= image %>" alt="Card image cap">
    </a>
  </div>

 <% end %>

<style>
.masonry-container {
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px;
  width: 100%;
}

.apn {
  flex: auto;
  width: 280px;
  margin: 0 8px 8px 0;
}

.apn .card-box {
  margin-bottom: 0;
  height: 150px;
}
</style>
