<div class="col-sm-12 m-b-23">
  <h4 class="page-title">Downloads</h4>
</div>

<div class="row">


  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">manual do negócio</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://drive.google.com/file/d/1FGskK8g3dzsH4GCqHGWnDSMmW1mgXyZW/view" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Plano de Compensação</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://drive.google.com/file/d/1Zk3lFa365aTo6S4CTGMCkkxuyHK-xB--/view" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Apresentação do negócio</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://drive.google.com/open?id=1FGskK8g3dzsH4GCqHGWnDSMmW1mgXyZW" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Instalação do H-max</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://youtu.be/BDu_fUOtodQ" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">h-max inovacão tecnológica</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://youtu.be/RYAupehqGmE" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>


</div>
