<div class="col-sm-12 m-b-23">
  <h4 class="page-title">Downloads</h4>
</div>

<div class="row">


  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Manual do Negócio</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/gqp28dwstv04rcw/Manual%20do%20Plano%20de%20Negocio.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Plano de Compensação</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/7fqudzppc7tpepk/PLANO%20DE%20COMPENSA%C3%87%C3%83O.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Apresentação do Negócio</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://www.dropbox.com/s/5y9mbk55c9f36b6/APN%20VERS%C3%83O%20COMPLETA.pdf?dl=0" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">Instalação do H-max</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://youtu.be/BDu_fUOtodQ" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-3 col-xs-6  filter apn" style="">
    <div class="card-box">
      <img src="" class="img-responsive">
      <div class="card-body">
        <h4 class="card-title">h-max inovacão tecnológica</h4>
        <a type="button" class="btn btn-success waves-effect waves-light" href="https://youtu.be/RYAupehqGmE" target="_blank">
          <span class="btn-label"><i class="md md-cloud-download"></i></span>Download
        </a>
      </div>
    </div>
  </div>


</div>
