<div class="nav-store">
  <%= link_to 'ADCASH', backoffice_products_path, class: "store-banner" %>
  <%= link_to 'ONLINE GAMES', games_backoffice_stores_path, class:"store-banner" %>
  <%= link_to 'ONLINE COURSE', courses_backoffice_stores_path, class:"store-banner" %>
  <%= link_to 'ONLINE PUBLICITYS', ads_backoffice_stores_path, class:"store-banner" %>
</div>
