<%= stylesheet_link_tag 'click-tok-theme/store' %>
<%= stylesheet_link_tag 'click-tok-theme/courses' %>

<div class="main-box">
  <%= render 'menu' %>
  <div class="banner-img-courses">
    <div class="banner-img-courses__content-left">
      <p>ONLINE COURSES</p>
      <h1>WAIT</h1>
      <p>NEWS COMING SOON</p>
    </div>
    <div class="banner-img-courses__content-right">
      <%= image_tag('nav-store/mulher.png') %>
    </div>
  </div>
  <div class="cards-courses">
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
    <div class="card-courses">
    </div>
  </div>
</div>
