<%= stylesheet_link_tag 'raffles/index' %>

<div class="raffles-page-container">
 <h3 class="raffles-page-title">
    Raffles
 </h3>
 <div class="banner-img-raffles">
 </div>
 <div class="raffles-container">
    <div class="raffle-container">
        <div class="raffle-container-title">
            <span class="raffle-title">
                Raffle Iphone 13 Pro Max
            </span>
            <img class="raffle-img" src="https://macmagazine.com.br/wp-content/uploads/2021/10/12-iphone13pro02-scaled.jpg">
        </div>
        <div class="numbers-available-container">
            <span class="numbers-available-title">
                Numbers Available
            </span>
            <span class="numbers-available">
                256
            </span>
        </div>
        <div class="type-raffle-container">
            <span class="type-raffle-title">Type of Raffle</span>
            <span class="type-raffle">Random</span>
        </div>
        <div class="draw-date-container">
            <span class="draw-date-title">
                Draw Date
            </span>
            <span class="draw-date">
                12/12/2022
            </span>
        </div>
        <div class="raffle-container-value">
            <span class="raffle-value-title">
                Value
            </span>
            <span class="raffle-value">
                US$ 10.00
            </span>
        </div>
        <div class="container-raffle-button">
            <button class="raffle-button">
                Choose
            </button>
        </div>
    </div>
        <div class="raffle-container">
        <div class="raffle-container-title">
            <span class="raffle-title">
                Raffle Iphone 13 Pro Max
            </span>
            <img class="raffle-img" src="https://macmagazine.com.br/wp-content/uploads/2021/10/12-iphone13pro02-scaled.jpg">
        </div>
        <div class="numbers-available-container">
            <span class="numbers-available-title">
                Numbers Available
            </span>
            <span class="numbers-available">
                256
            </span>
        </div>
        <div class="type-raffle-container">
            <span class="type-raffle-title">Type of Raffle</span>
            <span class="type-raffle">Random</span>
        </div>
        <div class="draw-date-container">
            <span class="draw-date-title">
                Draw Date
            </span>
            <span class="draw-date">
                12/12/2022
            </span>
        </div>
        <div class="raffle-container-value">
            <span class="raffle-value-title">
                Value
            </span>
            <span class="raffle-value">
                US$ 10.00
            </span>
        </div>
        <div class="container-raffle-button">
            <button class="raffle-button">
                Choose
            </button>
        </div>
    </div>
        <div class="raffle-container">
        <div class="raffle-container-title">
            <span class="raffle-title">
                Raffle Iphone 13 Pro Max
            </span>
            <img class="raffle-img" src="https://macmagazine.com.br/wp-content/uploads/2021/10/12-iphone13pro02-scaled.jpg">
        </div>
        <div class="numbers-available-container">
            <span class="numbers-available-title">
                Numbers Available
            </span>
            <span class="numbers-available">
                256
            </span>
        </div>
        <div class="type-raffle-container">
            <span class="type-raffle-title">Type of Raffle</span>
            <span class="type-raffle">Random</span>
        </div>
        <div class="draw-date-container">
            <span class="draw-date-title">
                Draw Date
            </span>
            <span class="draw-date">
                12/12/2022
            </span>
        </div>
        <div class="raffle-container-value">
            <span class="raffle-value-title">
                Value
            </span>
            <span class="raffle-value">
                US$ 10.00
            </span>
        </div>
        <div class="container-raffle-button">
            <button class="raffle-button">
                Choose
            </button>
        </div>
    </div>
        <div class="raffle-container">
        <div class="raffle-container-title">
            <span class="raffle-title">
                Raffle Iphone 13 Pro Max
            </span>
            <img class="raffle-img" src="https://macmagazine.com.br/wp-content/uploads/2021/10/12-iphone13pro02-scaled.jpg">
        </div>
        <div class="numbers-available-container">
            <span class="numbers-available-title">
                Numbers Available
            </span>
            <span class="numbers-available">
                256
            </span>
        </div>
        <div class="type-raffle-container">
            <span class="type-raffle-title">Type of Raffle</span>
            <span class="type-raffle">Random</span>
        </div>
        <div class="draw-date-container">
            <span class="draw-date-title">
                Draw Date
            </span>
            <span class="draw-date">
                12/12/2022
            </span>
        </div>
        <div class="raffle-container-value">
            <span class="raffle-value-title">
                Value
            </span>
            <span class="raffle-value">
                US$ 10.00
            </span>
        </div>
        <div class="container-raffle-button">
            <button class="raffle-button">
                Choose
            </button>
        </div>
    </div>
        <div class="raffle-container">
        <div class="raffle-container-title">
            <span class="raffle-title">
                Raffle Iphone 13 Pro Max
            </span>
            <img class="raffle-img" src="https://macmagazine.com.br/wp-content/uploads/2021/10/12-iphone13pro02-scaled.jpg">
        </div>
        <div class="numbers-available-container">
            <span class="numbers-available-title">
                Numbers Available
            </span>
            <span class="numbers-available">
                256
            </span>
        </div>
        <div class="type-raffle-container">
            <span class="type-raffle-title">Type of Raffle</span>
            <span class="type-raffle">Random</span>
        </div>
        <div class="draw-date-container">
            <span class="draw-date-title">
                Draw Date
            </span>
            <span class="draw-date">
                12/12/2022
            </span>
        </div>
        <div class="raffle-container-value">
            <span class="raffle-value-title">
                Value
            </span>
            <span class="raffle-value">
                US$ 10.00
            </span>
        </div>
        <div class="container-raffle-button">
            <button class="raffle-button">
                Choose
            </button>
        </div>
    </div>
 </div>
</div>