<%= stylesheet_link_tag 'raffle-third-parties-cart/index.css' %>

<div class="main-container">
  <a class="back-button" href="/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="white"
      class="bi bi-arrow-left"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
      />
    </svg>
  </a>
  <span class="main-title">Pagamento de Terceiros</span>
  <form action="" class="form-search-order">
    <p>Pesquisa do pedido</p>
    <div class="container-form-input">
      <input type="text" class="input-search-order" />
      <button class="button-apply">Aplicar</button>
    </div>
  </form>
  <div class="container-raffles-parties">
    <div class="card-raffle-cart">
      <img
        class="img-raffle-parties"
        src="https://macmagazine.com.br/wp-content/uploads/2021/10/12-iphone13pro02-scaled.jpg"
        alt=""
        srcset=""
      />
      <div class="container-raffle-cart">
        <div class="container-raffle-top">
          <span class="small-text">ID do bilhete</span>
          <span class="text-bold">00001</span>
        </div>
        <div class="container-raffle-bottom">
          <span class="small-text">Comprador</span>
          <span class="text-bold">Phineas</span>
        </div>
      </div>
      <div class="container-raffle-cart">
        <div class="container-raffle-top">
          <span class="small-text">Nome da Rifa</span>
          <span class="text-bold">Iphone 13 Pro Max</span>
        </div>
        <div class="container-raffle-bottom">
          <span class="small-text">Status da Rifa</span>
          <div class="raffle-status status-waiting">Aguardando Pagamento</div>
        </div>
      </div>
  </div>
  <div class="cart-details">
    <div class="detail-container">
      <span class="cart-detail__text"> Saldo Disponível </span>
      <span class="cart-detail__text-bold"> $ 260,00 </span>
    </div>
    <div class="detail-container">
      <span class="cart-detail__text"> Quantidade </span>
      <span class="cart-detail__text-bold"> 1 </span>
    </div>
    <div class="detail-container">
      <span class="cart-detail__text"> Total </span>
      <span class="cart-detail__text-bold"> $ 60,00 </span>
    </div>
    <button class="btn-checkout">Finalizar Compra</button>
  </div>
</div>
