<div class="container-cards-bottom-admin-dashboard">
  <%= render 'backoffice/admin/dashboard/container_cards_bottom/cards-bottom__container-left' %>
  <%= render 'backoffice/admin/dashboard/container_cards_bottom/cards-bottom__container-right' %>
</div>
