<div class="container-graphs-admin-dashboard">
  <%= render 'backoffice/admin/dashboard/container_graphs/line_graph' %>
  <%= render 'backoffice/admin/dashboard/container_graphs/donuts_graphs' %>
</div>
