<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'charts' %>

<div class="container-items">
  <div class="row" id="dashboard">
    
  </div>
</div>
