<ul class="text-center list-inline" style="margin-top: 10px;">
  <li>
    <a href="?locale=en" class="flag">
      <%= image_tag('countries/us.svg') %>
    </a>
  </li>
  <li>
    <a href="?locale=es" class="flag">
      <%= image_tag('countries/es.svg') %>
    </a>
  </li>
  <li>
    <a href="?locale=pt-BR" class="flag">
      <%= image_tag('countries/br.svg') %>
    </a>
  </li>
</ul>
