<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title"><%= t('views.backoffice.tickets.new.title') %></h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 m-b-23">
    <div class="card-box">
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
