<div class="cards-bottom__container-left">
  <div class="container-left__card">
    <span class="pool__title">
      Piscina
    </span>
    <div class="card-bottom__container-mid">
      <span class="pool__type">VNK</span>
      <div class="card__currency">
        <%= image_tag('admin-dashboard/btc.svg') %>
        BTC Bitcoin
      </div>
      <span class="card__balance">15.12548 BTC</span>
      <span class="card__botom-value">US$ 1,125.4</span>
    </div>
    <div class="card-bottom__container-bottom">
      <span class="container-bottom__title">Hash</span>
      <span>8595d6443eeec147699633649de37c6a</span>
    </div>
  </div>
  <div class="container-left__card">
    <span class="pool__title">
      Piscina
    </span>
    <div class="card-bottom__container-mid">
      <span class="pool__type">VNK</span>
      <div class="card__currency">
        <%= image_tag('admin-dashboard/btc.svg') %>
        BTC Bitcoin
      </div>
      <span class="card__balance">15.12548 BTC</span>
      <span class="card__botom-value">US$ 1,125.4</span>
    </div>
    <div class="card-bottom__container-bottom">
      <span class="container-bottom__title">Hash</span>
      <span>8595d6443eeec147699633649de37c6a</span>
    </div>
  </div>
  <div class="container-left__card">
    <span class="pool__title">
      Piscina
    </span>
    <div class="card-bottom__container-mid">
      <span class="pool__type">VNK</span>
      <div class="card__currency">
        <%= image_tag('admin-dashboard/btc.svg') %>
        BTC Bitcoin
      </div>
      <span class="card__balance">15.12548 BTC</span>
      <span class="card__botom-value">US$ 1,125.4</span>
    </div>
    <div class="card-bottom__container-bottom">
      <span class="container-bottom__title">Hash</span>
      <span>8595d6443eeec147699633649de37c6a</span>
    </div>
  </div>
</div>
