.regulation-backdrop {
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

body.backdrop {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.modal-regulation {
  border-radius: 25px;
  display: none;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 101;
  background: white;
  overflow: hidden;
  height: 90%;
  width: 80%;
  max-width: 800px;
  padding: 50px;
  transform: translate(-50%, -50%);
  font-size: calc(0.7rem + 0.5vw);
}

.modal-regulation.open {
  display: block;
}

.modal-close-button {
  background: none;
  border: none;
  position: absolute;
  font-size: 1em;
  font-weight: 800;
  right: 2em;
  top: 2em;
  cursor: pointer;  
  color: #999;
}

.modal-close-button:hover {
  color: #333;
}

.modal-regulation-header{
  margin-bottom: 30px;
}

.modal-regulation-image{
  width: 50%;
  display: block;
  margin: 0 auto;
  margin: 30px auto 50px auto;
}

.modal-regulation-title{
  background: linear-gradient(to bottom, #00DE2C, #00DE28);
  width: 100%;
  padding: 0.6em 0 0.65em 0;
  color: white;
  font-weight: 800;
  font-size: 1em;
  line-height: 1em;
  border-radius: 10px;
  text-align: center;
}

.modal-regulation-text {
  overflow-y: scroll; 
  height:70%;
  padding-bottom: 20%;
  font-size: 0.8em;
}
