<table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td style="font-size:6px;line-height:10px;padding:0px 0px 0px 0px;" valign="top" align="center">
      <img class="max-width" border="0" style="display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:20% !important;width:30%;height:auto !important;" src="https://s3.amazonaws.com/mail-assets-fm/parabens.png" alt="parabens" width="142">
    </td>
  </tr>
</table>

<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td style="padding:18px 0px 18px 0px;line-height:22px;text-align:inherit;"
        height="100%"
        valign="top"
        bgcolor="">
        <h2 style="text-align: center;"><span style="color:#A9A9A9;"></span><br>
      <span style="font-size: 31px; color: rgb(25, 47, 117);">Parabéns</span></h2>

      <div style="text-align: justify; color:#808080; font-size: 16px;"><span style="color:#808080;">
          Seja bem-vindo(a), você abaca de tomar a melhor decisão de sua vida.
      Aprenda as melhores ferramentas business e comece certo o negócio
      Future Motors.

      <br>
      <br>
      Informamos que está disponível em seu Escritório Virtual o <span style="color: rgb(25, 47, 117); font-weight: bold">E-book
          Comece Certo</span>  e todo o seu material didático.
      </span></div>
    </td>
  </tr>
  <tr>
    <td style="font-size:6px;line-height:10px;padding:0px 0px 0px 0px;" valign="top" align="center">
      <img class="max-width" border="0" style="display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:40% !important;width:60%;height:auto !important;" src="https://s3.amazonaws.com/mail-assets-fm/comececerto.png" alt="parabens" width="242">
    </td>
  </tr>
</table>
