<div class="row">
  <div class="col-md-12">
    <div class="alert alert-warning">
      <strong>AVISO</strong> Os boletos estão previstos para serem liberados ainda esta semana. Agradecemos a compreensão de todos.
    </div>
  </div>
</div>
