<div class="admin-dashboard__card" id="ethereum_card">
  <span class="card__total-balance">Saldo Total</span>
  <div class="card__container-bottom">
    <div class="card__currency">
      <%= image_tag('admin-dashboard/eth.svg') %>
      ETH Ethereum
    </div>
    <span class="card__balance">15.12548 ETH</span>
    <span class="card__botom-value">US$ 1,125.4</span>
  </div>
</div>
