<div class="admin-dashboard__card" id="package_card">
  <span class="card__total-balance">Saldo Total</span>
  <div class="card__container-bottom align-items-card">
    <div class="card__currency">
      <%= image_tag('admin-dashboard/adcash.svg') %>
      ADcash
    </div>
    <span class="card__balance">$15.12548</span>
  </div>
</div>
