<div class="admin-dashboard__card" id="usd_card">
  <span class="card__total-balance">Saldo Total</span>
  <div class="card__container-bottom align-items-card">
    <div class="card__currency">
      <%= image_tag('admin-dashboard/usd.svg') %>
      USD Dólar
    </div>
    <span class="card__balance">15.12548 USD</span>
  </div>
</div>
