.store-banner-wrapper {
  border-radius: 8px;
  display: flex;
  font-size: calc(0.3rem + 1.7vw);
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.store-banner-wrapper input {
  display: none;
}

#radio1:checked ~ .banner1 {
  margin-left: 0;
}

#radio2:checked ~ .banner1 {
  margin-left: -100%;
}

#radio3:checked ~ .banner1 {
  margin-left: -200%;
}

#radio4:checked ~ .banner1 {
  margin-left: -300%;
}

#radio5:checked ~ .banner1 {
  margin-left: -400%;
}

#radio6:checked ~ .banner1 {
  margin-left: -500%;
}

#radio7:checked ~ .banner1 {
  margin-left: -600%;
}

#radio1:checked ~ .navigation-manual .manual-btn:nth-child(1) {
  background: #fff;
}

#radio2:checked ~ .navigation-manual .manual-btn:nth-child(2) {
  background: #fff;
}

#radio3:checked ~ .navigation-manual .manual-btn:nth-child(3) {
  background: #fff;
}

#radio4:checked ~ .navigation-manual .manual-btn:nth-child(4) {
  background: #fff;
}

#radio4:checked ~ .navigation-manual .manual-btn:nth-child(5) {
  background: #fff;
}

#radio4:checked ~ .navigation-manual .manual-btn:nth-child(6) {
  background: #fff;
}

#radio4:checked ~ .navigation-manual .manual-btn:nth-child(7) {
  background: #fff;
}

.store-banner-container {
  background: linear-gradient(to bottom, #ed6998, #ff6d9c);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
  display: flex;
  flex-flow: row;
  height: 11em;
  justify-content: space-between;
  min-width: 100%;
  padding: 1em 1.2em;
  transition: margin 0.7s ease-in-out;
}

.store-banner-text {
  color: white;
  position: relative;
  width: 64%;
}

.store-banner-pretext {
  background: white;
  border-radius: 4px;
  color: #9c9c9c;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 400;
  margin: 2% 0 0 1em;
  min-width: max-content;
  padding: 2px 12px 2px 0.8em;
  position: relative;
}

.store-banner-pretext-icon {
  display: block;
  height: 1.7em;
  left: -1em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 1.7em;
}

.store-banner-title {
  color: white;
  font-size: 2em;
  font-weight: 600;
  margin-top: 0.5em;
  white-space: nowrap;
}

.store-banner-description {
  font-size: 1.1em;
  white-space: nowrap;
}

.store-banner-footer {
  bottom: 2%;
  display: flex;
  font-size: 0.8em;
  position: absolute;
  width: 100%;
}

.store-banner-footer-box {
  display: flex;
  flex-flow: column;
  margin-right: 40%;
}

.store-banner-footer-box:last-child {
  margin-right: 0;
}

.store-banner-value-number,
.store-banner-draw-date {
  font-size: 1em;
  font-weight: 600;
}

.store-banner-picture-container {
  height: 100%;
  margin: auto 0;
  width: 36%;
}

.store-banner-img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.navigation-manual {
  bottom: 0.3em;
  column-gap: 0.7em;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.manual-btn {
  border-radius: 50px;
  border: 2px solid #ffffff22;
  cursor: pointer;
  padding: 0.15em;
  transition: border 1s;
}

.manual-btn:hover {
  background: #fff;
}

@media (min-width: 1500px) {
  .store-banner-container {
    font-size: calc(1.9rem);
  }
}
