.store-content {
  width: 100%;
}

.page-title {
  font-size: calc(0.8rem + 1.1vw);
  margin: 40px auto 0 auto;
  width: 100%;
}

.store--products__content, .store--ads__content {
  column-gap: 4%;
  display: flex;
  flex-wrap: wrap;
  font-size: calc(0.2rem + 2.2vw);
  justify-content: flex-start;
  margin: 20px 0;
  row-gap: 20px;
  width: 100%;
}

.store--products-item, .store--ads-item {
  background-color: whitesmoke;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #3f3f3f;
  display: flex;
  flex-flow: column;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  transition: box-shadow 0.5s;
  width: 100%;
}

.store--products-item:hover, .store--ads-item:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.store--products-item--header, .store--ads-item--header {
  background: #00000055;
  color: #fff;
  font-size: 0.75em;
  font-weight: 600;
  height: auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.store--products-item--content, .store--ads-item--content {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.8em;
  justify-content: space-between;
  padding: 3em 1.2em;
  width: 100%;
}

@media (min-width: 1500px) {
  .page-title {
    font-size: 1.85rem;   
  }
}

@media (max-width: 230px) {
  .store--products-item--content, .store--ads-item--content {
    font-size: 0.7em;
  }
}

@media (min-width: 640px) {
  .store--products__content, .store--ads__content {
    font-size: calc(0.2rem + 1.3vw);
  }
  
  .store--products-item, .store--ads-item {
    width: 48%;
  }
}

@media (min-width: 1500px) {
  .store--products__content, .store--ads__content {
    font-size: 1.42rem;
  }
}