<p><%= t('hello'), <%= @user.email %></p>

<br>

<p><%= t('rejected_withdrawal'), value: number_to_currency @withdrawal.gross_amount_cents %></p>

<br>

<p><%= link_to 'Meus Saques', backoffice_withdrawals_url %></p>
