.dashboard-banner-container {
  margin-bottom: 15px;
}

.dashboard-banner-item {
  aspect-ratio: 16/9;
  border-radius: 5px;
  display: block;
  height: auto;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.dashboard-banner-title {
  background: #3f3f3fcc;
  border-radius: 0 0 5px 5px;
  color: white;
  display: block;
  font-size: 0.75em;
  font-weight: 300;
  left: 50%;
  padding: 0 5px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
  white-space: nowrap;
  width: fit-content;
}

.dashboard-banner-image {
  display: block;
  height: 100%;
  margin: 0;
  width: 100%;
}

.dashboard-banner-image:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.dashboard-banner-container-premium .dashboard-banner-item {
  min-width: 13em;
}

@media (min-width: 600) {
  .dashboard-banner-item {
    width: 300px;
  }
}

@media (min-width: 720px) {
  .dashboard-banner-container {
    font-size: calc(0.3rem + 1.1vw);
  }
}

@media (min-width: 1500px) {
  .dashboard-banner-container {
    font-size: calc(1.34rem);
  }
}
