<div class="item">
  <%= banner_image_link(banner) %>
  <div class="banner-buttons2">
    <%= link_to '#', class: 'banner-buttons-link' do%>
      <i class="fas fa-share-alt"></i>
    <% end%>
    <%= link_to t('helpers.submit.buy'),
                banner.link,
                class: 'banner-button',
                target: '_blank' %>
  </div>
</div>
