<div class="modal fade bd-example-modal-lg"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1> <%= t('defaults.congratulations') %> </h1>
      <p> <%= t('defaults.daily_task_successfull') %> </p>
      <%= image_tag 'logo-white.png' %>
    </div>
  </div>
</div>
