.raffle-tickets-return-button {
  align-items: center;
  background: #30da03;
  border-radius: 0.5em;
  color: white;
  display: flex;
  font-size: 2rem;
  height: 1em;
  justify-content: center;
  margin-top: 1em;
  width: 2em;
}

.cart-item {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  font-size: 1rem;
  font-size: calc(0.8rem + 0.4vw);
  justify-content: space-between;
  overflow: hidden;
  padding: 1em 0;
  width: 100%;
}

.cart-courses__item__image {
  max-width: 150px;
  min-width: 150px;
}

.cart-courses__item__image .raffle-cart-name {
  display: block;
  font-size: 1em;
  margin: 6px 0 2px 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.cart-courses__item__image .cart-courses__item__id {
  color: #999;
  display: block;
  font-size: 0.7em;
  text-align: center;
}

.cart-courses__item__image img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  width: auto;
}

.cart-item .middle-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  height: 150px;
  justify-content: flex-start;
  padding: 0 5%;
}

.middle-container .numbers-title {
  color: #999;
  font-size: 0.9em;
  margin-bottom: 1em;
}

.cart-item .ticket-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  flex-wrap: wrap;
  gap: 5% 2%;
  justify-content: flex-start;
  overflow: auto;
  padding: 0.5em 0;
  width: 100%;
}

.cart-item .ticket-number {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.08);
  font-size: 0.9em;
  height: fit-content;
  padding: 0.3em 1.3em 0.3em 0.3em;
  position: relative;
  width: 4.5em;
}

.cart-item .ticket-number .remove-ticket {
  color: #999;
  font-size: 0.9em;
  font-weight: 800;
  position: absolute;
  right: 0.4em;
  top: 50%;
  transform: translate(0, -50%);
}

.cart-item .ticket-number .remove-ticket:hover {
  color: #f30;
}

.cart-item .cart-selected-numbers .modal-title {
  text-align: center;
}

.cart-courses__item__value b,
.cart-courses__item__value i {
  font-size: 0.5em;
  font-weight: 400;
  line-height: 1.65em;
  vertical-align: text-top;
}

.cart-courses__item__value i {
  font-style: normal;
  line-height: 1.8em;
  padding-left: 2px;
}

@media (max-width: 560px) {
  .cart-item {
    flex-direction: column;
  }

  .cart-courses__item__image {
    max-width: 200px;
    min-width: 200px;
  }

  .cart-item .ticket-container {
    justify-content: center;
  }
}

@media (min-width: 1500px) {
  .cart-item {
    font-size: 1.2rem;
  }
}
