<%= stylesheet_link_tag 'click-tok-theme/raffles/winners' %>
<div class="raffle-tickets-header-container">
  <%= link_to raffles_backoffice_stores_path, class: 'raffle-tickets-return-button' do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
  <% end %>
  <h4 class="raffle-tickets--page-title"><%= t(:winners) %></h4>
</div>
<div class="winners-card-container">
<% 7.times do %>
  <ul class="card-item">
    <li>
      <span class="draw-date">10/07/2022</span>
      <span class="draw-number">039</span>
      <p class="avatar-container">
        <img src="https://i.pravatar.cc/300" class="avatar-image" />
      </p>
      <span class="winners-name">João Jubileu</span>
    </li>
    <li>
      <span>Clique para ir ao site</span>
      <a href="#">Powerball - 052627</a>
      <ul class="result-ticket-list">
        <li>02</li>
        <li>09</li>
        <li>31</li>
        <li>38</li>
        <li>45</li>
      </ul>
      <span class="wining-ticket-number"><i></i>291</span>
    </li>
    <li>
      <p class="product-container">
        <img src="https://picsum.photos/500/400" class="product-image" />
      </p>
      <h3>iPhone GTMDF</h3>
    </li>
  </ul>
<% end%>  
</div>
