<%= stylesheet_link_tag 'click-tok-theme/orders' %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


<div class="page">
  <a class="back-button" href="/backoffice/financial_dashboard?locale=en">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
  </a>
  <div class="card-order">
    <div class="is-page-title">
      <span class="title">
        Winners
      </span>
      <div class="btn-group dropleft">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 20px;
        background: #30da03;
        border: none;">
            <%= t(:filter) %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button"></button>
            <button class="dropdown-item" type="button"></button>
        </div>
      </div>
    </div>

    <section>
        <div class="th-history-list">
          <span style="font-size: 15px;">
            Bruno
          </span>
        </div>
    <section>
  </div>
  <div class="row">
    <div class="col-sm-12">
        paginate Winners
    </div>
  </div>
</div>
