<%= stylesheet_link_tag 'click-tok-theme/raffles/winners' %>
<%= javascript_include_tag 'https://kit.fontawesome.com/4d5efdc352.js', defer: true %>
<%= render 'backoffice/shared/back_and_title', back_path: raffles_backoffice_stores_path,  page_title: t(:winners) %>
<div class="winners-card-container">
  <% 3.times do %>
    <ul class="card-item">
      <li>
        <span class="draw-date">10/07/<i>20</i>22</span>
        <span class="draw-number">Nº039</span>
        <p class="avatar-container">
          <img src="https://i.pravatar.cc/300" class="avatar-image" />
        </p>
        <span class="winners-name">Joana Jubiléia da Silva Sauro</span>
      </li>
      <li>
        <a class="draw-link" href="https://www.powerball.com/" target="_blank">Powerball - jun 29, 2022</a>
        <ul class="result-ticket-list">
          <li class="has-arrow">0<b>2</b></li>
          <li class="has-arrow">0<b>9</b></li>
          <li class="has-arrow">3<b>1</b></li>
          <li>38</li>
          <li>45</li>
          <li>49</li>
        </ul>
        <span class="wining-ticket-number"><b>2</b><b>9</b><b>1</b><i class="fa-solid fa-trophy"></i></span>
      </li>
      <li>
        <p class="product-container">
          <%= image_tag('https://res.cloudinary.com/admoney-online/image/upload/v1652290292/ileudsxeqedxm598tabd.png', class: 'product-image') %>
        </p>
        <h3 class="raffle-name">Moto CBTK</h3>
      </li>
    </ul>
  <% end%>
</div>
