.raffle-tickets-return-button {
  align-items: center;
  background: #30da03;
  border-radius: 60px;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.box-tickets {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  width: 100%;
}

.box-title {
  align-items: center;
  display: flex;
}

.status-filter {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.btn-filter {
  align-items: center;
  background: #30da03;
  border: 0;
  border-radius: 20px;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  transition: 0.5s;
}

.btn-filter:hover {
  color: black;
}

.tickets-title {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0 10px;
}

.tickets-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.input-container-sm,
.input-container-lg {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.dropdown-filter {
  position: relative;
  display: inline-block;
}

.dropdown-filter-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-filter:hover .dropdown-content {
  display: block;
}

.container-sm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.container-lg {
  width: 100%;
}

.input-container-sm {
  width: 49%;
}

.input-container-lg {
  width: 100%;
}

.dropdown-menu {
  margin-right: 75px;
}

.input-filter {
  background: white;
  border: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 50px;
  min-width: 97%;
  padding: 10px;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.tickets-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.raffle-ticket-card {
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  min-height: 170px;
  padding: 20px;
  width: 100%;
}

.ticket-image {
  object-fit: scale-down;
  max-width: 300px;
  padding: 10px 0;
  width: 100%;
}

.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.raffle-ticket-card-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 0 10px;
  width: 50%;
}

.raffle-ticket-second-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-label {
  color: #9b9b9b;
  font-size: 13px;
}

.strong-item {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.numbers-raffle-selected-container {
  display: flex;
}

.number-raffle-selected {
  background: #e5e5e5;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px 0;
  text-align: center;
  width: 19%;
}

.numbers {
  width: 100%;
}

.numbers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
}

.raffle-status {
  background: red;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.started {
  background: linear-gradient(to bottom, #59fa00, #27af00);
}

.awaiting-draw-date {
  background: #c7c7c7;
}

.awaiting-draw {
  background: #0b74d4;
}

.pending {
  background: yellow;
  color: black;
}

.finished {
  background: red;
}

.btn-submit-filter {
  background: linear-gradient(to bottom, #59fa00, #27af00);
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 20px 0 20px 0;
  padding: 10px;
  transition: 0.5s;
  width: 100%;
}

.btn-submit-filter:hover {
  background: linear-gradient(to top, #59fa00, #27af00);
  box-shadow: 0px 15px 25px -5px rgba(30, 144, 255, 0.4);
  transform: scale(1.03);
}

.raffle-data {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 720px) {
  .container-sm {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  .container-lg {
    display: flex;
    justify-content: space-between;
    width: 45%;
  }

  .input-container-sm,
  .input-container-lg {
    width: 24%;
  }

  .tickets-filter {
    align-items: flex-end;
    flex-wrap: inherit;
    margin-bottom: 50px;
  }

  .content-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .btn-submit-filter {
    height: 50px;
    margin: 0;
    width: 9%;
  }

  .raffle-ticket-card {
    flex-direction: column;
    margin-bottom: 20px;
    width: 49%;
  }

  .raffle-ticket-card-container {
    width: 100%;
  }

  .ticket-image,
  .raffle-data {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .number-raffle-selected {
    width: 9%;
  }
}