.slide-container {
  overflow: hidden;
  position: relative;
}

.slide-container .raffle-tickets-image-container.slide li img {
  max-height: 14em;
  max-width: 100%;
}

.raffle-tickets-display-container .raffle-tickets-image-container {
  -ms-overflow-style: none;
  display: flex;
  justify-content: flex-start;
  max-height: 12em;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
}

.raffle-tickets-display-container .raffle-tickets-image-container::-webkit-scrollbar {
  display: none;
}

.raffle-tickets-display-container .raffle-tickets-image-container li {
  display: flex;
  justify-content: center;
  min-width: 100%;
  position: relative;
  width: 100%;
}

.raffle-tickets-display-container .raffle-tickets-image-list {
  display: none;
}

.raffle-tickets-display-container .raffle-tickets-image {
  bottom: 0;
  height: 100%;
  max-height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.circle-list {
  column-gap: 10px;
  display: flex;
}

.circle-list li {
  background: #959595;
  border-radius: 100%;
  border: 1px solid #959595;
  height: 10px;
  width: 10px;
}

.circle-list li.active {
  background: transparent;
}

.slide {
  left: -100%;
}

.slide.shifting {
  transition: left 0.3s ease-out;
}

.raffle-tickets-image-container.desktop {
  display: none;
}

@media (min-width: 780px) {
  .raffle-tickets-display-container .raffle-tickets-thumb-container {
    height: 14em;
    position: relative;
    width: 4%;
  }

  .raffle-tickets-display-container .raffle-tickets-image-list {
    display: flex;
    flex-direction: column;
    height: 14em;
    overflow-y: hidden;
    padding: 0 2px;
    row-gap: 5px;
    width: 100%;
  }

  .slide-container {
    display: none;
  }
  .raffle-tickets-image-container.desktop {
    display: flex;
  }

  .raffle-tickets-display-container .raffle-tickets-image-container {
    display: flex;
    height: 14em;
    justify-content: center;
    min-height: 14em;
    width: 44%;
  }

  .raffle-tickets-display-container .raffle-tickets-image-container li {
    justify-content: center;
  }

  .raffle-tickets-display-container .raffle-tickets-image-container button {
    display: none;
  }

  .raffle-tickets-display-container .raffle-tickets-image-list img {
    border-radius: 2px;
    border: 1px solid #444;
    cursor: pointer;
    display: block;
    max-height: 1.8em;
    object-fit: cover;
    transition: opacity 0.2s;
  }

  .raffle-tickets-display-container .raffle-tickets-image-list img.active {
    border: 1px solid #30da03;
    box-shadow: 0px 0px 0 2px rgba(105, 255, 60, 0.5);
    opacity: 0.8;
  }

  .raffle-tickets-display-container .raffle-tickets-image-list img:hover {
    opacity: 0.8;
  }

  .circle-list {
    display: none;
  }
}
