<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Registrar nova OS</h4>
    <br>
  </div>
  <div class="col-sm-12">
    <div class="card-box">
      <h4 class="m-t-0 header-title">
        <b>Informações do proprietário</b>
      </h4>
      <%= render partial: 'form', locals: {
        form: form,
        url: backoffice_installer_order_of_services_path,
        method: :post
      } %>
    </div>
  </div>
</div>
