<table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td style="font-size:6px;line-height:10px;padding:0px 0px 0px 0px;" valign="top" align="center">
      <img class="max-width"
           border="0"
           style="display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:20% !important;width:30%;height:auto !important;"
           src="https://s3.amazonaws.com/mail-assets-fm/parabens.png"
           alt="parabens"
           width="142">
    </td>
  </tr>
</table>

<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td style="padding:18px 0px 18px 0px;line-height:22px;text-align:inherit;"
        height="100%"
        valign="top"
        bgcolor="">
      <h2 style="text-align: center;">
        <span style="color:#A9A9A9;"> <%= t('user_mailer.welcome.call', name: @user.name) %> </span>
      </h2><br>
      <div style="color:#808080;font-size: 16px;text-indent: 30px;">

          <span>
            <%= t('.body', order_value: format_digital_currency(@order.total)).html_safe %>
          </span>

      </div><br>
      <p> <%= link_to t('my_deposits'), backoffice_deposits_url %> </p><br>
      <span style="color:#808080;">
        <%= t('.footer', company_name: ENV['COMPANY_NAME']).html_safe %>
      </span>
    </td>
  </tr>
</table>
