<p>Olá, <%= @user.email %></p>

<br>

<p>Seu pedido no valor de <%= number_to_currency @order.total %> foi realizado. Complete o pagamento e aguarde o processamento.</p>

<br>

<p>Para agilizar o pagamento realize uma transferência (TED) para a conta baixo: <br><br>
  Bradesco: 237 <br>
  Agência: 0343 <br>
  Conta Corrente: 28106-9 <br>
  MAISVOZ TELECOMUNICAÇÕES EIRELI <br>
  CNPJ: 31.852.400/0001-59 <br>
  Nos envie o comprovante de transferência no e-mail <a href="mailto:financeiro@maisvoz.com.br">financeiro@maisvoz.com.br</a>, para que possamos concluir o pagamento do seu pedido em nosso sistema.</p>

<br>

<p><%= link_to 'Meus Pedidos', backoffice_orders_url %></p>
