<style>
  .p-orders-email a{
    text-decoration: none;
    color: white;
    background: #53f001;
    padding: 10px;
    border-radius: 10px;
    color: #3f3f3f;
  }
</style>
<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td style="padding:18px 0px 18px 0px;line-height:22px;text-align:inherit;"
        height="100%"
        valign="top">
      <h2 style="text-align: center;">
        <span> <%= t('user_mailer.welcome.call', name: @user.name) %> </span>
      </h2>
      <br>
      <div style="font-size: 16px;text-indent: 30px;">
        <span>
          <%= t('.body', product_name: @order.order_items.last.name, company_name: SystemConfiguration.company_name).html_safe %>
        </span>
      </div>
      <br>
      <p class="p-orders-email"> <%= link_to t('my_orders'), backoffice_orders_url %> </p>
      <br>
      <span>
        <%= t(:financial_department_footer, company_name: SystemConfiguration.company_name).html_safe %>
      </span>
    </td>
  </tr>
</table>
