<%= content_for :body_class, 'login-page' %>
<br><br><br><br><br><br><br><br><br><br>
<div class="wrapper-page" id="wrapper-page-login">
  <div class="text-center register-logo text-white">
    <%= image_tag('logo.png') %>
    <br>
    <div class=" card-box">
      <div class="panel-body">
        <h1 style="font-weight: bold; color: white;">System under maintenance</h1>
        <i class="fa fa-cogs fa-5x"aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
