<div class="page">
  <h4 class="page-title"><%= title t(:new_email) %></h4>

  <%= simple_form_for([:users, @email], html: { class: 'form-horizontal' }) do |f| %>
    <div class="credentials-box">
      <div class="login-fields">
        <%= f.input_field :body, class: "input-description", placeholder: t(:email) %>
      </div>
      <div class="login-fields remove-padding">
        <%= f.button :button, t("defaults.post"),
                              data: { disable_with: t('helpers.save_with_disable') }, class: 'login' %>
      </div>
    </div>
<% end %>
</div>
