<div class="row">
  <div class="col-sm-12 m-b-23">
    <h4 class="page-title">
      <%= title t('views.backoffice.products.index.title', company_name: ENV['COMPANY_NAME']) %>
    </h4>
  </div>
</div>
<section class="container">
  <div class="row">
    <%= render @products %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <%= paginate @products %>
    </div>
  </div>
</section>
