.main-container {
  width: 100%;
}

.main-title {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.form-search-order {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.form-search-order p {
  color: grey;
}

.input-search-order {
  background: #ffff;
  border-radius: 5px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  width: 75%;
}

.button-apply {
  background: linear-gradient(to right bottom, #57f502, #27ae00);
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 10px 0;
  width: 23%;
}

.button-apply:hover {
  background: linear-gradient(to left bottom, #57f502, #27ae00);
  cursor: pointer;
}

.container-raffles-parties {
  margin-top: 30px;
}

.card-raffle-cart {
  align-items: center;
  background: #ffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  height: 100px;
  padding: 10px;
  width: 100%;
}

.container-form-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.img-raffle-parties {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  width: 25%;
}

.container-raffle-cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  margin-left: 10%;
}

.small-text {
  color: grey;
  font-size: 10px;
}

.text-bold {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.container-my-numbers {
  display: flex;
}

.my-number {
  background: #e5e5e5;
  border-radius: 5px;
  color: black;
  font-size: 10px;
  margin-right: 5px;
  padding: 5px 5px;
}

.container-raffle-top,
.container-raffle-bottom {
  display: flex;
  flex-direction: column;
}

.raffle-status {
  border-radius: 5px;
  color: white;
  font-size: 8px;
  padding: 5px 2px;
  text-align: center;
}

.status-waiting {
  background: #9b9b9b;
}

.cart-details {
  margin-top: 30px;
}

.detail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cart-detail__text {
  color: black;
  font-size: 15px;
  font-weight: 300;
}

.my-number {
  font-size: 6px;
  font-weight: bold;
}

.cart-detail__text-bold {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.btn-checkout {
  background: #1d1d1b;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  padding: 20px 0;
  width: 100%;
  
  a {
    color: white;
    text-decoration: none;
  }
}

@media (min-width: 880px) {  
  .img-raffle-parties {
    height: auto;
    width: 20%;
  }

  .small-text {
    font-size: 16px;
  }

  .text-bold {
    font-size: 20px;
  }

  .card-raffle-cart {
    height: auto;
  }

  .my-number {
    font-size: 16px;
  }

  .raffle-status {
    font-size: 16px;
  }

  .container-raffle-cart {
    margin-left: 15%;
  }

  .container-raffle-bottom {
    margin-top: 10px;
  }
}
