<section class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 m-t-20">
        <div class="product-item">
          <%= link_to backoffice_product_path(product) do %>
            <%= cl_image_tag(product.main_photo_id) %>
          <% end %>
          <div class="product-buttons2">
            <%= link_to t('helpers.submit.buy'),
                        new_backoffice_product_checkout_path(product_id: product.hashid),
                        class: 'banner-button' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
