<%= stylesheet_link_tag 'click-tok-theme/stores/raffles/raffles_tickets_agreement' %>
<%= javascript_include_tag 'click-tok-theme/stores/raffles/raffles_tickets_agreement.js', defer: true %>
<section class="modal-regulation">
  <header class="modal-regulation-header">
    <%= image_tag('logo.png', class: 'modal-regulation-image')%>
    <h4 class="modal-regulation-title"></h4>
  </header>
  <article class="modal-regulation-text">
    <p class="modal-regulation-paragraph">
      WinEasy is a fully digital RAFFLE platform, where you can buy the RAFFLE of the product you
      want, with daily raffles.<br/>
      Get your quotas now at WinEasy RIFAS and make your dream come true with the various products
      available for raffle.<br/>
      Each number selected and paid within the RIFA is called a SHARES.<br/>
      RIFAS are generated according to the following shares:<br/>
      1. 100 shares - numbered from 00 to 99<br/>
      2. 1,000 shares - numbered from 000 to 999<br/>
      3. 10,000 shares - numbered from 0,000 to 9,999<br/>
      4. 100,000 shares - numbered from 00,000 to 99,999<br/>
      CHOICE OF NUMBERS AND PAYMENT<br/>
      After choosing the numbers you prefer, make the payment via credit card or Pix, as soon as the
      payment is confirmed, your quotas will be confirmed, now just wait for the RIFA to close to define
      the date of the draw and good luck.<br/>
      THE RAFFLE<br/>
      The draws for extractions are carried out by the QUINA contest, one of the Caixa Econômica
      Federal Lotteries. The RIFA will be available for drawing whenever 100% of its quotas are sold.
      The system automatically closes the RIFA and sends an email to each participant with the date and
      time of the draw.<br/>
      QUINA carries out the draws for extractions, six days a week, from Monday to Saturday, with the
      exception of Sundays. If there is an important holiday on the date of the draw, the draw is held on
      the following day, with the exception of Sundays, if the holiday falls on a Saturday, the draw is held
      on the following Monday.<br/>
      The draws can be followed through the website: https://loterias.caixa.gov.br/Paginas/Quina.aspx<br/>
      HOW IS THE RAFFLE GIVEAWAY DONE BY QUINA?<br/>
      At QUINA, the draws range from ten 01 to 80, the RIFA draw in this case is carried out by selecting
      the second digit of the ten drawn always from left to right as follows:<br/>
      RIFAS with 100 shares<br/>
      HOW IS THE RAFFLE GIVEAWAY DONE BY QUINA?
      At QUINA, the draws range from ten 01 to 80, the RIFA draw in this case is carried out by selecting
      the second digit of the ten drawn always from left to right as follows:
      RIFAS with 100 shares
      Looking from left to right, the second digit of the first two tens generates the ten 78, so in this
      example the number drawn was 78.RIFAS with 1,000 shares
      Looking from left to right, the second digit of the first three tens generates the hundred 783, so in
      this example the number drawn was 783.
      Using 10,000 shares
      Looking from left to right, the second digit of the first four tens generates the thousand 7,834, so in
      this example the odds drawn were 7,834.
      RIFAS with 100,000 shares
      Looking from left to right, the second digit of the tens generates the tens of thousands 78,345, so in
      this example the quota drawn was the number 78,345.
      WITHDRAWAL AND REFUND OF VALUES
      After acquiring the shares, the participant will no longer be able to withdraw or request a refund. At
      the time of purchase, on the checkout screen, there is in its footer the information of non-return of
      values.
      DECLASSIFICATION
      This raffle CANNOT be sold (bought or sold) by persons under 18 years of age or legally
      incapable.
      Participants may be automatically disqualified from this RIFA in case of justified suspicion of fraud
      or proven fraud, and may also respond in the criminal and civil spheres. Participants who do not
      meet any of the requirements, terms and conditions set forth in this Regulation will be disqualified,
      such as, for example, providing untrue, incorrect, incomplete or misleading information.
    </p>
  </article>
</section>
