<%= stylesheet_link_tag 'click-tok-theme/stores/raffles/raffles_tickets_agreement' %>
<%= javascript_include_tag 'click-tok-theme/stores/raffles/raffles_tickets_agreement.js', defer: true %>
<section class="modal-regulation">
  <button class="modal-close-button">✕</button>
  <div class="modal-regulation-header">
    <%= image_tag('logo.png', class: 'modal-regulation-image')%>
    <h4 class="modal-regulation-title">Regulamento do sorteio</h4>
  </div>
  <article class="modal-regulation-text">
    <%= t(:raffles_agreement_contract).html_safe%>
</article>
</section>
