<div class="row">
  <div class="col-md-3 col-lg-3 col-xl-3">
    <div class="widget-panel widget-style-2 bg-white">
        <i class="icon-wrench"></i>
        <h2 class="m-0 text-dark counter font-600"><%= installations.sum { |k, v| v } %></h2>
        <div class="text-muted m-t-5">Total de Instalações</div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-xl-3">
    <div class="widget-panel widget-style-2 bg-white">
        <i class="icon-wrench"></i>
        <h2 class="m-0 text-dark counter font-600"><%= installations['in_analysis'] || 0 %></h2>
        <div class="text-muted m-t-5">Instalações em Análise</div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-xl-3">
    <div class="widget-panel widget-style-2 bg-white">
        <i class="icon-wrench"></i>
        <h2 class="m-0 text-dark counter font-600"><%= installations['approved'] || 0 %></h2>
        <div class="text-muted m-t-4">Instalações Aprovadas</div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-xl-3">
    <div class="widget-panel widget-style-2 bg-white">
        <i class="icon-wrench"></i>
        <h2 class="m-0 text-dark counter font-600"><%= installations['rejected'] || 0 %></h2>
        <div class="text-muted m-t-5">Instalações Recusadas</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="">
      <div class="widget-panel widget-style-2 bg-white">
        <i class="icon-people"></i>
        <h2 class="m-0 text-dark counter font-600">
          <span data-plugin="counterup">0800 006 8008</span>
        </h2>
        <div class="text-muted m-t-5">Suporte ao Instalador Credenciado</div>
      </div>
    </div>
  </div>
</div>
