.cart-table {

}

.cart-table__title {
  background-color: #ededed;

  tr > th {
    font-weight: bold !important;
    padding: 12px !important;
    text-align: center;
  }
}

.cart-table__body {
  td {
    padding: 8px !important;
    text-align: center;
  }
}
