.footer-cmp {
  background-color: #192C4C;
  color: white;

}

.fixed-left .footer-cmp {
  margin-left: 240px
}

.footer-cmp__links {
  display: flex;
  list-style: none;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: center;
}

.footer-cmp__link {
  color: white;
  padding: 4px 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  font-weight: 300;
  font-size: 14px;
  line-height: 91px;
}

.footer-cmp__vl {
  border-right: 1px solid #bdbdbd;
  margin: 28px 12px;
}

.footer-cmp__icon {
  line-height: 91px;
  color: white;
  font-size: 40px;
  i {
    margin: 0 12px;
  }
}

.footer-cmp__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer-cmp__info {
  font-weight: 300;
  line-height: 20px;
  margin-top: 0px;
  font-size: 14px;
}

.footer-cmp__copyright {
  background-color: #041324;
  padding: 24px;
  font-size: 14px;
}

.footer-cmp__icon {
  font-size: 40px;
  margin: 0 20px;
}
