.investment-card {
  margin-top: 30px;
}

.investment-card__price {
  color: #173579;
  font-size: 22px;
  font-weight: bold;
}

.investment-card__total {
  color: #173579;
  font-size: 16px;
  font-weight: bold;
}
