.steps {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;

  .step {
    display: inline-block;
    padding: 10px 15px;

    &--active {
      margin: 6px;
      border-radius: 5px;
      background: #5fbeaa;
      color: #fff;
    }
  }
}
