.support-material {
  background-color: white;
  text-transform: uppercase;
}

.support-material-div {
  font-size: 12px;

  div {
    text-align: center;
  }

  img {
    width: 50px;
    border-radius: 50%;
  }
}
