.support-material {
  background-color: white;
  text-transform: uppercase;
  display: flex;
}

.support-material__left-box {
  background-color: #808080;
  padding: 27px;
  color: white;
  text-align: center;
}

.support-material__right-box {
  display: inline-block;
}

.support-material__download-list {
  display: flex;
  list-style: none;
  font-size: 12px;

  li {
    text-align: center;
  }

  img {
    width: 50px;
  }
}
