<div class="dashboard-banner-container dashboard-banner-premium-container">
  <% banners_premium.shuffle.last(12).each do |banner| %>
      <h6 class="dashboard-banner-premium-title">
        <%= banner.title %>
      </h6>
      <%= link_to backoffice_banner_clicks_path(banner_id: banner.id),
                  class: 'dashboard-banner-link-wrapper',
                  method: :post,
                  remote: true,
                  title: banner.title + "\n " + banner.description do %>
        <%= image_tag(banner.path.present? ? banner.path: banner.image_path,
            class: 'dashboard-banner-premium-image') %>
      <% end %>
  <% end %>
</div>