<div class="container-imgs2">
            <% banners.shuffle.last(12).each do |banner| %>
                <%= link_to backoffice_banner_clicks_path(banner_id: banner.id),
                        method: :post,
                        remote: true do %>
                  <%= image_tag(banner.path.present? ? banner.path: banner.image_path) %>
                <% end %>
      			<% end %>
    </div>