<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
      <h4 class="page-title"><%= t('views.dashboard.client.title') %></h4>
      <p class="text-muted page-title-alt"><%= t('views.dashboard.client.subtitle') %></p>
  </div>
</div>

user
