<tr id="<%= shipping.id %>">
  <td class="col-xs-5 col-sm-7">
    <%= country_name(shipping.country) %>
  </td>
  <td class="col-xs-5 col-sm-3">
    <%= number_to_currency(shipping.amount) %>
  </td>
</tr>
