/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'binary-tree'
 *= require 'bootstrap.min'
 *= require 'helpers'
 *= require 'login-page'
 *= require 'typography'
 *= require 'user-dashboard'
 *= require 'top_bar'
 *= require 'components/components'
 *= require 'overrides/overrides'
 *= require 'theme/theme'
 *= require 'banners/index'
 *= require 'owl.carousel.min'
 *= require 'owl.theme.default.min'
 *= require 'animate.min'
 *= require 'carts/show'
 *= require 'banner_clicks/index'
 *= require 'social-share-button'
 *= require_self
 */

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.navbar-default {
  background-color: rgb(255,255,255) !important;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 1px 1px 10px #c3c3c3;
}

.dropdown-menu li {
  margin: 0 5px;
}

.field_with_errors .form-control {
  border-color: #d9534f;
}

.field_with_errors label,
.field_with_errors .form-control-feedback,
.field_with_errors .form-control-label,
.field_with_errors .col-form-label,
.field_with_errors .form-check-label,
.field_with_errors .custom-control,
.field_with_errors .error-messages {
  color: #d9534f;
}

.field-error-messages {
  font-size: 11px;
  color: #d9534f;
}
