.login-page {
  background-image: image-url('pg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  min-height: 100%;
  color: white;
  padding-bottom: 0px;

  .wrapper-page .card-box {
    background-color: rgba(193, 193, 193, 0.5);
    border: none;
  }

  .form-control {
    border: none;
  }

  a {
    color: white;
  }

  h3 {
    color: white;
  }
}

.register-logo img {
  max-width: 70%;
  height: auto;
}
