.fix-right-a {
  margin-right: 5px;
}
.donut-legend > div {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 13px;
}
.donut-legend > div:last-child {
  margin-right: 0;
}
.donut-legend > div > i {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-top: -3px;
  vertical-align: middle;
  border-radius: 1px;
}
.card-placeholder {
  min-height: 640px;
}

.card-box-placeholder {
  min-height: 500px;
}

.label-dark {
  background-color: #000000;
}

.label-inactive {
  background-color: #DCDCDC;
}
