.fix-right-a {
  margin-right: 5px;
}
.donut-legend > div {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 13px;
}
.donut-legend > div:last-child {
  margin-right: 0;
}
.donut-legend > div > i {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-top: -3px;
  vertical-align: middle;
  border-radius: 1px;
}
.card-placeholder {
  min-height: 640px;
}

.card-box-placeholder {
  height: 40rem!important;
  overflow: auto;
}

.label-dark {
  background-color: #000000;
}

.label-inactive {
  background-color: #DCDCDC;
}

.bg-secondary {
  background-color: #001d6e;
}

.progressbar-legend > span {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 13px;
}

.progressbar-legend > span:last-child {
  margin-right: 0;
}

.progressbar-legend > span > i {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-top: -3px;
  vertical-align: middle;
  border-radius: 1px;
}

.progress-card {
  display: table !important;
  width: 100%;
}

.progress-card-content {
  display: table-cell;
  vertical-align: middle;
}

.progress-wrapper {
  margin: 60px 0px;
}
