#pie-chart {
  max-height: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#pie-chart2 {
  max-height: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#pie-chart3 {
  max-height: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#pie-chart4 {
  max-height: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#pie-chart5 {
  max-height: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#pie-chart6 {
  max-height: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#pie-refresh {
  max-height: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fix-right-a {
  margin-right: 5px;
}
.donut-legend > div {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 13px;
}
.donut-legend > div:last-child {
  margin-right: 0;
}
.donut-legend > div > i {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 7px;
  margin-top: -3px;
  vertical-align: middle;
  border-radius: 1px;
}
.card-placeholder {
  min-height: 640px;
}
