.card-box {
  display: flex;
  justify-content: space-between;
}

.ticket-container {
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  font-family: sans-serif;
  font-size: calc(0.6rem + 0.3vw);
  width: 78%;
}

.ticket-container hr {
  background: #999;
  margin: 10px auto 0 auto;
  width: 80%;
}

.ticket-container hr:first-of-type {
  display: none;
}

.full-size .ticket-container {
  margin-top: 30px;
  width: 97.8%;
}

.ticket-container h4 {
  color: #333;
  font-size: 1.2em;
  margin: 0;
  padding-top: 1em;
  text-align: center;
}

.draw-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  row-gap: 1.5em;
}

.draw-container ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 1em;
}

.draw-container li {
  background: #e5e5e5;
  border-radius: 5px;
  color: #222;
  font-weight: 800;
  padding: 0.6em;
}

@media (max-width: 679px) {
  .card-box {
    flex-wrap: wrap;
  }

  .ticket-container {
    width: 100%;
  }

  .full-size .ticket-container {
    margin-top: 0;
    width: 100%;
  }
}
