.card-box {
  display: flex;
  justify-content: space-between;
}

.ticket-container {
  align-items: center;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: calc(0.6rem + 0.3vw);
  justify-content: space-between;
  width: 78%;
}

.congratulations {
  font-size: 16px;
  margin: 0;
}

.ticket-container hr {
  background: #999;
  margin: 10px auto 0 auto;
  width: 80%;
}

.ticket-container hr:first-of-type {
  display: none;
}

.full-size .ticket-container {
  margin-top: 30px;
  width: 97.8%;
}

.ticket-container h4 {
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.draw-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}

.draw-container ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.draw-container p {
  margin: 0;
}

.draw-container li {
  background: #e5e5e5;
  border-radius: 5px;
  color: #222;
  font-weight: 800;
  margin-top: 5px;
  padding: 0.6em;
  text-align: center;
  width: 19%;
}

.ticket-image {
  margin-top: 30px;
  max-width: 300px;
}

.strip {
  align-items: center;
  background: linear-gradient(to bottom, #59fa00, #27af00);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.body-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40%;
}

@media (max-width: 679px) {
  .card-box {
    flex-wrap: wrap;
  }

  .ticket-container {
    width: 100%;
  }

  .full-size .ticket-container {
    margin-top: 0;
    width: 100%;
  }
}
