.cards-container {
    display: flex;
    flex-direction: column;
}

.card-container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.winners-title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.winners-container-top {
    display: flex;
    justify-content: space-between;
}

.winner-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.image-winner {
    max-width: 150px;
    min-width: 150px;
    object-fit: contain;
    width: 50%;
}

.winner-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 5%;
    width: 100%;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.winner-card-body {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.winner-card-body span,
.numbers-container span {
    color: #9b9b9b;
    font-size: 9px;
}

.winner-card-body p {
    font-size: 10px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.selected-numbers-container {
    display: flex;
    gap: 5px;
    margin: 5px 0 0 0;
}

.selected-number {
    background: #e5e5e5;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    max-width: 100px;
    padding: 5px;
    text-align: center;
    width: 19%;
}

.numbers-container {
    width: 100%;
}

.btn-filter {
    align-items: center;
    background: #30da03;
    border: 0;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    display: flex;
    height: 40px;
    justify-content: flex-end;
    padding: 0 10px;
    transition: 0.5s;
}

.hide-big-phrase {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 365px) {
    .winner-card-body span,
    .numbers-container span {
        font-size: 11px;
    }

    .winner-card-body p,
    .selected-number {
        font-size: 11px;
    }
}

@media (min-width: 400px) {
    .winner-card-body span,
    .numbers-container span {
        font-size: 12px;
    }

    .winner-card-body p,
    .selected-number {
        font-size: 12px;
    }
}

@media (min-width: 500px) {
    .winner-card-body span,
    .numbers-container span {
        font-size: 15px;
    }

    .winner-card-body p,
    .selected-number {
        font-size: 15px;
    }
}

@media (min-width: 600px) {
    .card-container {
        padding: 20px;
    }

    .winner-container {
        flex-direction: row;
    }

    .winner-card-body span,
    .numbers-container span {
        font-size: 10px;
    }

    .winner-card-body p,
    .selected-number {
        font-size: 12px;
    }


    .winner-content {
        margin-top: 0;
    }
}

@media (min-width: 700px) {
    .winner-card-body span,
    .numbers-container span {
        font-size: 13px;
    }

    .winner-card-body p,
    .selected-number {
        font-size: 13px;
    }
}

@media (min-width: 880px) {
    .winner-container {
        width: 100%;
    }

    .numbers-container {
        padding: 0;
    }

    .image-winner {
        max-width: 150px;
    }
}

@media (min-width: 1000px) {
    .winner-card-body {
        width: 33%;
    }

    .selected-numbers-container {
        gap: 10px;
        justify-content: inherit;
    }

    .winner-card-body span,
    .numbers-container span {
        font-size: 16px;
    }

    .winner-card-body p,
    .selected-number {
        font-size: 16px;
    }
}