<%= link_to backoffice_financial_transactions_path, class: 'nav-link dropdown-toggle waves-effect',
                                                    role: :button,
                                                    'aria-haspopup': false,
                                                    'aria-expanded': false do %>
  <span class="text-success"> <%= number_to_currency(current_user.available_balance_cents) %> </span>
<% end %>

<% if current_user.pf? %>
 <li>

 </li>
<% end %>
