<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="box-orders">
  <div class="box-second">
    <div class="profile-detail card-box">
      <div>
        <h4 class="m-b-20"><%= t(:edit) %></h4>
        <hr>
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
