<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-warning"><%= flash[:alert] %></div>
<% end %>

<% if flash[:popup] %>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-popup">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-0 b-0">
      <img src="https://res.cloudinary.com/maisvoz/image/upload/v1574368206/maisvoz-popup_c6uwz9.jpg" alt="Caro Cliente" />
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () { $('#modal-popup').modal('show'); });
</script>
<% end %>
