<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /><!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" /><!--<![endif]-->
    <!--[if (gte mso 9)|(IE)]>
    <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
      body {width: 600px;margin: 0 auto;}
      table {border-collapse: collapse;}
      table, td {mso-table-lspace: 0pt;mso-table-rspace: 0pt;}
      img {-ms-interpolation-mode: bicubic;}
    </style>
    <![endif]-->

    <style type="text/css">
      span, h2{
        text-align: justify;
        font-size: 1.2em;
        color: #FFF !important;
      }

      .container{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
      }
      .container .topo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 200px;
      }

      .container .topo img{
        height: auto;
        max-height: 100px;
        width: 350px;
        max-width: 350px;
        margin-bottom: 20px;
      }

      .container .topo hr{
        height: 2px;
        width: 100%;
        background: #6FFF00;
        border: 0;
        margin-bottom: 5px;
      }

      .container .topo hr:last-child{
        height: 5px;
      }

      .container .conteudo{
        background: url('https://monetizzecash.com/assets/images/base-email.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 705px;
      }

      .container .conteudo .conteudo-item{
        width: 450px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13%;

      }

      .container .conteudo .rodape{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }

      .container  .rodape {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .container  .rodape .rodape-link {
        width: 150px;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }


      .container  .rodape .rodape-link > a{
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background: #6FFF00;
        display: flex;
        align-items: center;
        justify-content: center;


      } 

      .container  .rodape .rodape-link a img{
        width: 100%;
        height: 30px;
        object-fit: cover;
      }

      .container  .rodape h2{
        color: #222222 !important;
        font-weight: 100;
      }

      .container .rodape hr{
        height: 2px;
        width: 100%;
        background: #6FFF00;
        border: 0;
        margin-bottom: 5px;
      }

      .container .rodape p{
        margin-bottom: 0;
        margin-bottom: 5px;
      }
      
    </style>
  </head>
  <body>
    <div class="container">
      <div class="topo">
        <img src="https://monetizzecash.com/assets/images/logo-2-1.png"  alt="">
        <hr>
        <hr>
      </div>
      <div class="conteudo">
        <div class="conteudo-item">
          <%= yield %>
        </div>
        
      </div>
      <div class="rodape">
        <div class="rodape-link">
          <a href="https://facebook.com" target="_blank" alt="Facebook"  title="Facebook" >
            <img alt="Facebook" title="Facebook " src="https://marketing-image-production.s3.amazonaws.com/social/white/facebook.png" />
          </a>
          <a   href="https://instagram.com" target="_blank" alt="Instagram"  title="Instagram " >
            <img alt="Instagram" title="Instagram "  src="https://marketing-image-production.s3.amazonaws.com/social/white/instagram.png" />
          </a>
          <a href="https://google.com" target="_blank" alt="Google" title="Google " >
            <img  alt="Google" title="Google " src="https://marketing-image-production.s3.amazonaws.com/social/white/google-plus.png" />
          </a>
        </div>
        <h2>
          MONETIZZECASH.COM
        </h2>
        
        <hr>

        <p>
          <strong>
            Por favor, não responda.
          </strong>
        </p>
        <p>
          Em caso de dúvida entre em contato pelo email: contato@monetizzecash.com
        </p>
      </div>
    </div>
  </body>
</html>
